
<div class="">
    <h3 class="border-bottom">اطلاعات شخصی</h3>

    <div class="row">
        <div class="col-12">
            <input type="file" hidden (change)="getimageValue($event)" id="_input">
            <img [src]='imageUrl !=null && imageUrl !="" ? imageUrl : "./assets/images/user.png"'
            alt="" width="40" height="40" style="border-radius: 50%;border: 1px dashed #eee;" (click)="uploadimage()">
            <form [formGroup]="appform" (submit)="submit()">
                <div class="row align-items-center">
                    <div class="col-12 col-md-12 col-xl-6">
                        <label for="" class="text-dark">نام</label>
                        <div class="app_input" 
                        [ngClass]="{'isInvalid':validateClass('firstname') && submited}"
                        >
                            <input type="text" [formControlName]="'firstname'">
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6">
                        <label for="" class="text-dark">نام خانوادگی</label>
                        <div class="app_input" [ngClass]="{'isInvalid':validateClass('lastname') && submited}">
                            <input type="text" [formControlName]="'lastname'">
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6">
                        <label for="" class="text-dark">تاریخ تولد</label>
                        <div class="">
                            <input type="text" [formControlName]="'birthDate'" hidden>
                            <ngx-jdatepicker
                            class="app_input"
                            dir="rtl"
                            [ngModelOptions]="{standalone: true}"
                            [(ngModel)]="selectedDate"
                            theme="dp-material">
                          </ngx-jdatepicker>
                          <div class="text-danger fs-10" *ngIf="validateClass('birthDate') && submited">
                            تاریخ را انتخاب کنید
                        </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6">
                        <label for="" class="text-dark">کد ملی</label>
                        <div class="app_input" [ngClass]="{'isInvalid':validateClass('nationalCode') && submited}">
                            <input type="text" [formControlName]="'nationalCode'">
                        </div>
                        <div class="text-danger" *ngIf="!_nationalCode">
                            کد ملی اشتباه است
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-12">
                        <label for="" class="text-dark">شغل</label>
                        <div class="app_input " [ngClass]="{'isInvalid':validateClass('job') && submited}">
                            <input type="text" [formControlName]="'job'">
                        </div>
    
                    </div>
                    <div class="col-12 col-md-12 col-xl-12">
                        <label for="" class="text-dark">درباره من </label>
                        <div class="app_input" [ngClass]="{'isInvalid':validateClass('about') && submited}">
                            <textarea type="text" [formControlName]="'about'" class="border-0" style="background: transparent;"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-6">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <button type="submit" class="btn btn-success w-100 fs-12 w-100">ثبت</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


