<div class="container" *ngIf="profileInfo != undefined">
    <div class=" _box" style="background: #fff !important;min-height: 0;">
        <div class="row">
            <div class="col-12 col-md-9">
                <div class="row w-100 align-items-center justify-content-around m-0">
                    <div class="col-12 col-md-3 col-xl-2">
                        <img 
                        [src]='profileInfo?.picture !=null && profileInfo?.picture !="" ? "http://188.121.109.156:5036/uploadTemp/" + profileInfo?.picture : "./assets/images/user.png"'
                            alt="" width="100" height="100" class="profile_img">
                    </div>
                    <div class="col-12 col-md-9 col-xl-10">
                            <h2 class="m-0">{{profileInfo?.firstname + ' ' + profileInfo?.lastname}}</h2>
                            <p class="fs-12 m-0">ایمیل : {{profileInfo?.email}}</p>
                            <p class="fs-12 m-0">نام کاربری : {{profileInfo.username}}</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 text-center">
                <div class="btn btn-success w-100 mb-2 fs-12" [routerLink]="'/editprofile'" *ngIf="!isEdit && !colleaguemode">
                    <div class="fa fa-edit fs-14"></div>
                    ویرایش
                </div>
                <div class="btn btn-light w-100 fs-12">
                    
                    <span *ngIf="!colleaguemode">
                        <i class="fa fa-plus fs-14"></i>
                        همکاری
                    </span>
                    <span *ngIf="colleaguemode">
                        <i class="fa fa-times fs-14"></i>
                        لغو همکاری
                    </span>

                </div>
                <i class="far fa-shield-alt fs-50 _icon"></i>
                <!-- <div class="">{{profileInfo.type}}  ({{profileInfo.score}} امتیاز)</div> -->
            </div>
        </div>
        <div class="row mt-2 align-items-center">
            <div class="col-12 col-xl-10">
                <div class="row">
                    <div class="col-6 col-md-2">
                        <div class="row">
                            <div class="col-12 col-xl-1">
                                <i class="far fa-phone fs-18 _icon"></i>
                            </div>
                            <div class="col-12 col-xl-10">
                                <strong>تلفن همراه</strong>
                                <div class="">
                                    {{profileInfo?.phoneNumber != undefined ? profileInfo?.phoneNumber : '-'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-briefcase fs-18 _icon"></i>
                            </div>
                            <div class="col-10">
                                <strong>شغل</strong>
                                <div class="">
                                    {{profileInfo?.job != null || profileInfo?.job != ''  ? profileInfo?.job : '-'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-birthday-cake fs-18 _icon"></i>
                            </div>
                            <div class="col-10">
                                <strong>تاریخ تولد</strong>
                                <div class="">
                                    <span *ngIf="profileInfo?.birthDate != '' && profileInfo?.birthDate != null">
                                        {{profileInfo?.birthDate | jalali_date}}
                                    </span>
                                    <span *ngIf="profileInfo?.birthDate == ''">
                                        -
                                    </span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2">
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-id-card fs-18 _icon"></i>
                            </div>
                            <div class="col-10">
                                <strong>کد ملی</strong>
                                <div class="">
                                    {{profileInfo?.nationalCode != '' ? profileInfo?.nationalCode : '-'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2" *ngIf="!isEdit">
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-bolt fs-18 _icon"></i>
                            </div>
                            <div class="col-10">
                                <strong class="pointer" (click)="openmodal(template , 'مالکیت معنوی')">مالکیت معنوی
                                </strong>
                                <div class="">
                                    {{profileInfo.usersubject}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-2" *ngIf="!isEdit">
                        <div class="row">
                            <div class="col-2">
                                <i class="far fa-user-check fs-18 _icon"></i>
                            </div>
                            <div class="col-10">
                                <div class="pointer">
                                    <strong>خبرگی
                                    </strong>
                                    <div class="">
                                        {{subjects.length}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-xl-2">
                <div class="col-12 col-md-12">
                    <span *ngIf="colleagues.length <= 0">
                        coleague not found
                    </span>
                    <app-colleagues [colleagues]="colleagues" (_colleagueprofileItem)="_colleagueprofileItem($event)"></app-colleagues>
                  </div>
            </div>
        </div>
    </div>
    <div class=" _box ">
        <div class="row w-100 m-0">
            <div class="col-12 col-md-6">
                <div class="_box bg_">
                    <div class="col-12 col-md-12">
                        <h3 class="border-bottom fw-bold">درباره من</h3>
                    </div>
                    <div class="col-12 text-danger" *ngIf="profileInfo?.about ==''">موردی ثبت نشده است</div>
                    <div class="col-12" *ngIf="profileInfo?.about !=''">
                        <div class="">{{profileInfo?.about}}</div>
                    </div>
                </div>
  
            </div>
            <div class="col-12 col-md-6">
                <div class="_box bg_">
                    <div class="col-12 col-md-12">
                        <h3 class="border-bottom fw-bold">جوایز و افتخارات</h3>
                    </div>
                    <div class="col-12 text-danger" *ngIf="profileInfo?.profileAwards?.length <= 0 ">موردی ثبت نشده است</div>
        
                    <div class="col-12" *ngIf="profileInfo?.profileAwards?.length > 0 ">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ردیف</th>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">محل</th>
                                        <th scope="col">تاریخ شروع</th>
                                        <th scope="col">تاریخ پایان</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of profileInfo.profileAwards; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.title}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.start | jalali_date}}</td>
                                        <td>{{item.end | jalali_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6">
                <div class="_box bg_">
                    <div class="col-12 col-md-12">
                        <h3 class="border-bottom fw-bold">زبان های خارجه</h3>
                    </div>
                    <div class="col-12 text-danger" *ngIf="profileInfo?.profileLanguages?.length <= 0">موردی ثبت نشده است</div>
                    <div class="col-12" *ngIf="profileInfo?.profileLanguages?.length > 0">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ردیف</th>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">سطح</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of profileInfo.profileLanguages; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.title}}</td>
                                        <td>{{item.languageLevel}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="_box bg_">
                    <div class="col-12 col-md-12">
                        <h3 class="border-bottom fw-bold">پیشینه شغلی</h3>
                    </div>
                    <div class="col-12 text-danger" *ngIf="profileInfo?.profileJobs?.length <= 0">موردی ثبت نشده است</div>
        
                    <div class="col-12" *ngIf="profileInfo?.profileJobs?.length > 0">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ردیف</th>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">محل</th>
                                        <th scope="col">تاریخ شروع</th>
                                        <th scope="col">تاریخ پایان</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of profileInfo.profileJobs; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.title}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.start | jalali_date}}</td>
                                        <td>{{item.end | jalali_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
 
            </div>
            <div class="col-12 col-md-6 ">
                <div class="_box bg_">
                    <div class="col-12 col-md-12">
                        <h3 class="border-bottom fw-bold">پیشینه آموزشی</h3>
                    </div>
                    <div class="col-12 text-danger" *ngIf="profileInfo?.profileEducations?.length <= 0">موردی ثبت نشده است</div>
        
                    <div class="col-12" *ngIf="profileInfo?.profileEducations?.length > 0">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ردیف</th>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">محل</th>
                                        <th scope="col">تاریخ شروع</th>
                                        <th scope="col">تاریخ پایان</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of profileInfo.profileEducations; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.title}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.start | jalali_date}}</td>
                                        <td>{{item.end | jalali_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
     
            </div>
            <div class="col-12 col-md-6">
                <div class="_box bg_">
                    <div class="col-12 col-md-12">
                        <h3 class="border-bottom fw-bold">دوره های آموزشی</h3>
                    </div>
                    <div class="col-12 text-danger" *ngIf="profileInfo?.profileCertificates?.length <= 0">موردی ثبت نشده است</div>
                    <div class="col-12" *ngIf="profileInfo?.profileCertificates?.length > 0">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">ردیف</th>
                                        <th scope="col">عنوان</th>
                                        <th scope="col">محل</th>
                                        <th scope="col">تاریخ شروع</th>
                                        <th scope="col">تاریخ پایان</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of profileInfo.profileCertificates; let i=index">
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{item.title}}</td>
                                        <td>{{item.location}}</td>
                                        <td>{{item.start | jalali_date}}</td>
                                        <td>{{item.end | jalali_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{modal.title}}</h4>
    </div>
    <div class="modal-body">
        <div class="table-responsive-sm  p-0" >
            <table class="table table-striped " style="min-height: 15vh;">
                <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">عنوان موضوع</th>
                        <th scope="col">تاریخ ثبت</th>
                    </tr>
                </thead>
                <tbody class="position-relative">
                    <div class="text-danger" style="position: absolute;
                    right: 50%;
                    top: 50%;
                    transform: translate(50%, 25%);" *ngIf="subjects.length <=0">
                        رکوردی وجود ندارد
                    </div>
                    <tr *ngFor="let item of subjects; let i=index" class="pointer" (click)="_subjects(item)">
                        <th scope="row">{{i+1}}</th>
                        <td>
                            {{item.title}}
                        </td>
                        <td>
                            {{item.creationTime | jalali_date}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-12">              
          <button mat-stroked-button color="warn" class="w-100 fs-12" (click)="modalRef?.hide()">انصراف</button>
        </div>
      </div>
  </ng-template>