
<div class="container mb-2 p-0" *ngIf="(item.type === 'DateField' && !item.isOpen) || closeMode">
  <div class="row" [ngClass]="hidden ? 'border_b_gray' : ''" >
    <div class="d-flex">
      <strong class="fs-14 fw-bold mb-2" [innerText]="appform.controls['title'].value">
      </strong>
      <i class="fa fa-star-of-life text-danger fs-8" *ngIf="item?.configuration?.required && !hidden"></i>
    </div>
    <div class="col-12 col-md-12" *ngIf="!hidden">
      <ngx-jdatepicker
      class="app_input m-0"
      dir="rtl"
      [(ngModel)]="selectedDate"
      [ngModelOptions]="{standalone: true}"
      theme="dp-material"
      (onChange)="DATE_VALUE($event , item)">
    </ngx-jdatepicker>
    </div>
    <div class="col-12 col-md-6" *ngIf="hidden">
      {{item.configuration.date}}
    </div>
    <span class="text-danger fs-10" *ngIf="closeMode && !hidden && !item?.isvalid && item.isvalid != null && !valid ">
      این فیلد ضروری است
    </span>
  </div>
</div>
<section *ngIf="(item.type === 'DateField') && item.isOpen && !closeMode" id="formsbox" class="w-100" >
    <form [formGroup]="appform">
  <div class="row w-100">
    <div class="col-12 col-md-12">
      <mat-checkbox [formControlName]="'required'">
        ضروری
      </mat-checkbox>
    </div>
    <div class="col-12 col-md-6">
      <label for="" class="text-dark fs-12">عنوان</label>
      <div class="app_input" [ngClass]="{'isInvalid':validateClass('title') && submitted}">
          <input type="text" [formControlName]="'title'">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="" class="text-dark fs-12">متن راهنما</label>
      <div class="app_input">
          <input type="text" [formControlName]="'helpText'">
      </div>
    </div>
    <div class="col-12 col-md-12">
      <mat-checkbox  (change)="toggle($event)" [(ngModel)]="restrictedAccess.flag"
      [ngModelOptions]="{standalone: true}"
      >
        محدودیت دسترسی برای یک یا چند نقش از
        لیست زیر:
      </mat-checkbox>
      <div class *ngIf="_restrictedAccess">
        <div class *ngFor="let item of restrictedAccess.accessTo">

          <mat-checkbox [(ngModel)]="item.checked"
          [ngModelOptions]="{standalone: true}">
          {{item.title}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="col-12 col-md-12">
        <div class="row">
          <div class="col-12 col-md-12">
            <button type="button" class="btn btn-primary ml-5 fs-11 w-100" (click)="submit(item)">ذخیره</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </form>
</section>