<form [formGroup]="appform">
    <div class="row">
            <div class="col-12 col-md-6">
                <label for="">تاریخ از</label>
                <input type="text" [formControlName]="'from'" hidden>
                <ngx-jdatepicker class="app_input" dir="rtl" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedDate.from" theme="dp-material" placeholder="__/_/_">
                </ngx-jdatepicker>
            </div>
            <div class="col-12 col-md-6">
                <label for="">تاریخ تا</label>
                <input type="text" [formControlName]="'to'" hidden>
                <ngx-jdatepicker class="app_input" dir="rtl" [ngModelOptions]="{standalone: true}"
                    [(ngModel)]="selectedDate.to" theme="dp-material" placeholder="__/_/_">
                </ngx-jdatepicker>
            </div>

        <div class="col-12 col-md-12 col-xl-3">
            <button  type="button" class="btn btn-primary ml-5 fs-12 w-100" (click)="submit()">
                گزارش
            </button>
        </div>
        <div class="col-12" *ngIf="reports.length > 0">
            <div class="table-responsive-sm mt-3">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">عنوان</th>
                            <th scope="col">نوع دانش</th>
                            <th scope="col">تاریخ ایجاد</th>
                            <th scope="col">تعداد مشارکت کنندگان</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of reports; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.topicTitle}}</td>
                            <td>{{item.packageTitle}}</td>
                            <td>{{item.creationTime | jalali_date}}</td>
                            <td>{{item.subjectCount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>
    </form>
    