    <div class="_box">
        <div class="header">
            <h3>
                <i class="fas fa-search"></i>
                {{title}}
            </h3>
        </div>
        <router-outlet></router-outlet>
    </div>
    
