
.example-container {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

.example-list {
  border: dashed 1px #ccc;
  min-height: 65vh;
  background: #f9f9f9;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  position: relative;
}

.example-box {
  direction: rtl;
  padding: 10px 10px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  box-sizing: border-box;
  cursor: move;
  background: #f9f9f9;
  font-size: 14px;
  text-align: right;
}
.example-box.formtypes{
  background: #f9f9f9;
  border-bottom: dashed 1px #ccc;
}
.example-box.formdone{
  background: #fff;
  margin: 0.3em;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

  