
<div class="container">
  <div class="contianer-fluid _box"
    style="background: #fff !important;min-height: 89vh;">
    <h3 class="border_bottom">{{_isEdit ? title.isEdit : title.add}}</h3>
    <div class="row">
      <form [formGroup]="appform">
      <div class="col-12 col-md-12">
        <label for="" class="text-dark fs-12">عنوان</label>
        <div class="app_input" [ngClass]="{'isInvalid':validateClass(appform.get('title'))}">
            <input type="text" [formControlName]="'title'" >
        </div>
      </div>
    </form>
      <div class="col-12 col-md-3">
        <div class="example-container">
          <h2>فرم ها</h2>
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="formtype.formtypelist"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)"
            cdkDropListSortingDisabled>
            <div class="example-box formtypes"
              *ngFor="let item of formtype.formtypelist" cdkDrag>
              <div class="text-right">
                <i [innerHTML]="item.icon"></i>
                <span style="margin-right: 1em;">
                  {{item.text}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-9">
        <div class="example-container">
          <h2>فرم های انتخاب شده</h2>

          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="moveItems"
            [cdkDropListConnectedTo]="[todoList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="position-absolute fs-14"
              style="top: 50%;right: 50%;transform: translate(50% , -50%);"
              *ngIf="moveItems.length <= 0">
              <strong>
                یک فیلد را از سمت راست به این پنل بیاندازید
              </strong>
            </div>
            <div class="example-box formdone flex-column" cdkDragLockAxis="y"
              *ngFor="let item of moveItems;" cdkDrag>

              <div class="row w-100 m-0 flex-row-reverse">
                <div class="col-12" [ngClass]="item.isOpen ? 'col-md-12' : 'col-md-2'">
                  <div class="text-left">
                    <i class="fa fa-edit p-1 pointer" (click)="open(item)"></i>
                    <i class="fa fa-trash p-1 pointer" (click)="remove(item)"></i>
                  </div>
                </div>
                <div class="col-12" [ngClass]="item.isOpen ? 'col-md-12' : 'col-md-10'">
                  <div class="">
                    <app-multiplechoiceform *ngIf="item.type === 'multipleChoice'"  [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-multiplechoiceform>
                    <app-dateform *ngIf="item.type === 'DateField'" [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-dateform>
                    <app-titleform *ngIf="item.type === 'TitleField'" [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-titleform>
                    <app-numberform *ngIf="item.type === 'NumberField'" [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-numberform>
                    <app-describtionform *ngIf="item.type === 'DescribtionField'"  [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-describtionform>
                    <app-singlechoiceform  *ngIf="item.type === 'singleChoice'"  [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-singlechoiceform>
                    <app-selectform *ngIf="item.type === 'selectField'" [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-selectform>
                    <app-longtextform *ngIf="item.type === 'longTextField'" [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-longtextform>
                    <app-editorform *ngIf="item.type === 'EditorField'"  [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-editorform>
                    <app-formfield *ngIf="item.type === 'FormField'" [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-formfield>
                    <app-textform *ngIf="item.type === 'TextField'" [item]="item" (configuration)="configuration($event)" 
                    [closeMode]="false" [hidden]="false"></app-textform>
    
                  </div>
                </div>
              </div>
              <!-- <div
                class="w-100 d-flex  justify-content-between align-items-center">
                <div>
                  <i [innerHTML]="item.icon"></i>
                  <span style="margin-right: 1em;">{{item.text}}</span>
                </div>
                <div>
                  <i class="fa fa-edit p-1 pointer" (click)="open(item)"></i>
                  <i class="fa fa-trash p-1 pointer" (click)="remove(item)"></i>
                </div>
              </div> -->
       
            </div>
          </div>
          <div class="col-8 mt-2">
            <div class="row">
              <div class="col-12 col-md-6">
                <button type="button" class="btn btn-primary ml-5 fs-12 w-100" (click)="submit()">ثبت</button>
              </div>
              <div class="col-12 col-md-6">
                <button type="button" class="btn btn-light  ml-5 fs-12 w-100" [routerLink]="'/forms'">بازگشت</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
