<div class="">
    <div class="contianer-fluid _box" style="background: #fff !important;min-height: 70vh;">
        <h3 class="border_bottom">لیست کاربران</h3>
        <button type="button" class="btn btn-success mb-3 fs-12" (click)="updateUser(0 , null)" *ngxPermissionsOnly="['Permissions.Users.Create']">ثبت کاربر جدید</button>
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">تصویر</th>
                    <th scope="col">نام</th>
                    <th scope="col">شناسه کاربری</th>
                    <th scope="col">ایمیل</th>
                    <th scope="col" *ngxPermissionsOnly="['Permissions.Users.Edit']">ویرایش</th>
                    <!-- <th scope="col">حذف</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of users; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>
                        <img width="25" height="25" 
                        [src]="item.picture != null && item.picture != '' ? item.picture : './assets/images/user.png'" alt="" class="round">
                    </td>
                    <td>{{item.firstname + ' ' + item.lastname}}</td>
                    <td>{{item.userName != '' ? item.userName : '-'}}</td>
                    <td>{{item.email}}</td>
                    <td (click)="updateUser(1 , item)" *ngxPermissionsOnly="['Permissions.Users.Edit']">
                        <i class="fa fa-edit pointer" ></i>
                    </td>
                    <!-- <td>
                        <i class="fa fa-trash pointer"></i>
                    </td>              
                   -->
                  </tr>
 
                </tbody>
              </table>
        </div>

        <div class="row" dir="ltr">
            <div class="col-xs-12 col-12">
              <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
              previousText="قبلی" nextText="بعدی" (pageChanged)="pageChange($event)"
              ></pagination>
            </div>
          </div>
           


    </div>
</div>


