<div class="row">
    <div class="col-12 col-md-3">
        <div class="_box">
            <app-packagetree [tree]="packages"  
            [title]="'بسته ها'" (GETITEM)="GETITEM($event , 0)" 
            [toolbar]="false" 
            [nonBorder]="false" 
            [showaddIcon]="false">
        </app-packagetree>
        </div>
    </div>
    <div class="col-12 col-md-9">
        <div class="_box">
            <form [formGroup]="appform" (submit)="submit()">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label for="">
                            تاریخ شروع
                        </label>
                        <app-datepicker [drop]="'down'" [selectedDate] (DATE_VALUE)="DATE_VALUE($event , 0)">
                                        
                        </app-datepicker>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="">
                            تاریخ پایان
                        </label>
                        <app-datepicker [drop]="'down'" [selectedDate] (DATE_VALUE)="DATE_VALUE($event , 1)">
                                        
                        </app-datepicker>
                    </div>
                    <div class="col-12 col-md-6">
                        <mat-checkbox formControlName="onlyMySubjects">فقط آنچه را که من ثبت کرده ام نشان بده</mat-checkbox>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-3">
                                مرتبط باشد با
                            </div>
                            <div class="col-12 col-md-9">
                           <button type="button" mat-raised-button  class=" btn btn-success fs-12"  (click)="getTopic(template)">انتخاب موضوع</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="app_input mt-2">
                            <input formControlName="query" type="text" placeholder="جستجو کنید..." formControlName="query">
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-3">
                        <button  type="submit" class="btn btn-primary ml-5 fs-12 w-100">
                            <i class="fa fa-search"></i>
                            جستجو
                        </button>
                    </div>
                </div>
            </form>

            <div class="container mt-3" *ngIf="searches.length > 0">
                <h4> (<span>{{pages}}</span> مورد) یافت شده</h4>
                
                <mat-card class="mb-2 pointer" *ngFor="let item of searches;let i=index" (click)="navigateTo(item)">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-12 col-xl-1">
                                <img src="./assets/images/user.png" alt="" width="45" height="45" *ngIf="item.type === 0">
                                <img src="./assets/images/info.png" alt="" width="45" height="45" *ngIf="item.type !== 0">
                            </div>
                            <div class="col-12 col-md-12 col-xl-11">
                                <h3 class="mb-1">{{item.title}}</h3>
                                <p>
                                    {{item.content}}
                                </p>
                            </div>
                    </div>
                </mat-card>
                <div class="col-xs-12 col-12">
                    <pagination [totalItems]="pages-10" [(ngModel)]="currentPage" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"
                    previousText="قبلی" nextText="بعدی"
                    ></pagination>
                  </div>
            </div>
          
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left m-0">موضوعات</h4>
    </div>
    <div class="modal-body">
    <app-packagetree 
        [tree]="topics"  
        [title]="''" 
        (GETITEM)="GETITEM($event , 1)" 
        [topicmode]="true"
        [toolbar]="false" 
        [nonBorder]="false" 
        [showaddIcon]="false"
        [chekboxmode]="true">
    </app-packagetree>
    </div>
    <div class="modal-footer">
        <button  class="app_btn" (click)="modalRef?.hide()">ثبت</button>
    </div>
  </ng-template>