<div class="">
  <div class="contianer-fluid _box" style="background: #fff !important;min-height: 70vh;">
      <h3 class="border_bottom">لیست فرم ها</h3>
      <button type="button" class="btn btn-success mb-3 fs-12" (click)="updateform(0 , null)" *ngxPermissionsOnly="['Permissions.Form.Create']">ثبت فرم جدید</button>
      <div class="table-responsive-sm">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ردیف</th>
                  <th scope="col">عنوان</th>
                  <th scope="col">تاریخ ثبت</th>
                  <th scope="col">تاریخ به روز رسانی</th>
                  <th scope="col" *ngxPermissionsOnly="['Permissions.Form.Edit']">ویرایش</th>
                  <th scope="col" *ngxPermissionsOnly="['Permissions.Form.Delete']">حذف</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of forms; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item.name}}</td>
                  <td>{{item.description.dateCreate | jalali_date}}</td>
                  <td>{{item.description.datemodify |jalali_date}}</td>
                  <td *ngxPermissionsOnly="['Permissions.Form.Edit']">
                      <i class="fa fa-edit pointer" (click)="updateform(1 , item)"></i>
                  </td>
                  <td *ngxPermissionsOnly="['Permissions.Form.Delete']">
                      <i class="fa fa-trash pointer" (click)="remove(item)"></i>
                  </td>              
                </tr>

              </tbody>
            </table>
      </div>

      <div class="row" dir="ltr">
          <div class="col-xs-12 col-12">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
            previousText="قبلی" nextText="بعدی"
            ></pagination>
          </div>
        </div>
  </div>
</div>















