<div class="container eveluated">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="_box" style="border: 0 !important;">
                <app-packagetree [tree]="packages" [title]="'بسته ها'" (GETITEM)="GETITEM($event)" [toolbar]="false"
                    [nonBorder]="false" [showaddIcon]="false"></app-packagetree>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="_box">
                <h3>تنظیمات ارزیابی</h3>
                <fieldset [disabled]="disabled" >

                    <form [formGroup]="appform" (submit)="submit()" (click)="alert()">
                        <div class="col-12">
                            <button type="button" class="btn btn-success fs-12" [disabled]="disabled" (click)="openModal(template)">ویرایش پرسش های ارزیابی</button>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <label for="" class="text-dark"> نوع ارزیابی</label>
                                <select class="app_input w-100" [formControlName]="'evaluationType'">
                                    <option *ngFor="let option of eveluatedtype" [value]="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="" class="text-dark"> ارزیابان</label>
                                <select class="app_input w-100" [formControlName]="'evaluators'" >
                                    <option *ngFor="let option of managergroups" [value]="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
    
                            <div class="col-12 col-md-6">
                                <label for="" class="text-dark"> نحوه انتخاب موضوعات مرتبط</label>
                                <select class="app_input w-100" [formControlName]="'relatedTopicDecision'" >
                                    <option *ngFor="let option of choosenType" [value]="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="" class="text-dark"> قابل جستجو باشد پس از</label>
                                <select class="app_input w-100" [formControlName]="'searchableType'" >
                                    <option *ngFor="let option of searchable" [value]="option.id">
                                        {{option.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="" class="text-dark"> مقیاس امتیازدهی</label>
                                <div class="app_input">
                                    <input type="number" [formControlName]="'scoringScale'" >
                                </div>
    
                            </div>
                            <div class="col-12 col-md-6">
                                <label for="" class="text-dark"> حداقل امتیاز مورد تایید</label>
                                <div class="app_input">
                                    <input type="number" [formControlName]="'approveScore'" >
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                    <mat-checkbox formControlName="requiered_Description">ارایه توضیحات توسط ارزیاب اجباری باشد</mat-checkbox>
                            </div>
                            <strong class="mb-2 mt-2">پیش از ارسال دانش برای ارزیابی موارد زیر ارزیابی گردد</strong>
                            <div class="col-12 col-md-6">
                                <mat-checkbox formControlName="requieredSummary">چکیده خالی نباشد</mat-checkbox>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-checkbox formControlName="requieredKeyWord">حداقل یک کلمه کلیدی وارد شده باشد</mat-checkbox>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-checkbox formControlName="requiered_Encyclopedia_Paragraph">حداقل یک پاراگراف در دانشنامه نوشته شده باشد</mat-checkbox>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-checkbox formControlName="requiered_Related_Topic">حداقل یک موضوع مرتبط انتخاب شده باشد</mat-checkbox>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-checkbox formControlName="requieredAttachment">حداقل یک فایل پیوست شده باشد</mat-checkbox>
                            </div>
                            <div class="col-12 col-md-6">
                                <mat-checkbox formControlName="fill_Required_Fieldes">فیلد های ضروری فرم تکمیل شده باشند</mat-checkbox>
                            </div>
    
                            <div class="col-12">
                                <button type="submit" class="app_btn" [disabled]="disabled">ثبت</button>
                            </div>
                        </div>
                    </form>
                </fieldset>

            </div>
        </div>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left m-0">ویرایش پرسش های ارزیابی</h4>
      <!-- <button type="button" class="btn-close close" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button> -->
    </div>
    <div class="modal-body modal-lg">
      <app-eveluatedquastion [EvaluationSettingId]="EvaluationSettingId" (CLOSE)="modalRef?.hide()"></app-eveluatedquastion>
    </div>
  </ng-template>