
<div class="">
    <h3 class="border-bottom">{{title}}</h3>

    <div class="row">
        <div class="col-12">
            <form [formGroup]="appform" (submit)="submit()">
                <div class="container">
                    <div class="row align-items-center _border _radus p-1">
                        <div class="col-12 col-md-12 col-xl-12">
                            <label for="" class="text-dark">کلمه عبور کنونی</label>
                            <div class="app_input">
                                <input type="text" [formControlName]="'currentPassword'">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12">
                            <label for="" class="text-dark">کلمه عبور جدید</label>
                            <div class="app_input">
                                <input type="text" [formControlName]="'newPassword'">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-6">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-success w-100 fs-12 w-100">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

