<accordion [isAnimated]="true" [closeOthers]="true">
    <accordion-group  *ngFor="let item of menu_Items; let i=index" [isDisabled]="item.childs.length==0" (isOpenChange)="ToggleItem(item)"
    >
        <span accordion-heading  class="pointer">
            <i class="fa fs-12"  [ngClass]="item.isOpen ? 'fa-caret-down' : 'fa-caret-left'" *ngIf="item.childs.length>0"></i>
            
            <strong class="position-relative text-dark" (click)="getItem($event , item)"> 
                <input type="checkbox" *ngIf="topicmode" (change)="getItemvalue($event , item)">
                <span class="fs-12" style="font-weight: 500;padding: 10px 5px;">{{item.title}}</span>
            </strong>
        </span>
         <app-accordion  [menu_Items]="item.childs" [topicmode]="topicmode" (GET_ACCORDION_ITEM)="getchildsItem($event)"></app-accordion>
    </accordion-group>
</accordion>