<div class="container">
    <div class="contianer-fluid _box" style="background: #fff !important;min-height: 70vh;">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-3">
                    <div class="row align-items-center _settingbox w-100 ">
                        <div class="col-3 text-center">
                            <i class="fa fa-cog app_icon"></i>
                        </div>
                        <div class="col-9">
                            <h3 class="m-0 fw-bold">تنظیمات</h3>
                            <p>تنظیمات عمومی سیستم</p>
                        </div>
                    </div>


                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="row align-items-center _settingbox w-100 ">
                        <div class="col-3 text-center">
                            <i class="fa fa-check-circle app_icon"></i>
                        </div>
                        <div class="col-9">
                            <h3 class="m-0 fw-bold">نظر سنجی ها</h3>
                            <p>انجام نظر سنجی ها
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-5" *ngxPermissionsOnly="['Permissions.Users.View']"> 
                    <div class="row align-items-center _settingbox w-100 "
                     [routerLink]="'../users'">
                    <div class="col-2 text-center">
                        <i class="fa fa-user app_icon"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="m-0 fw-bold">کاربران</h3>
                        <p>ایجاد , ویرایش و حذف کاربران</p>
                    </div>
                </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4" *ngxPermissionsOnly="['Permissions.Access.View']">
                    <div class="row align-items-center _settingbox w-100 " [routerLink]="'../permissions'">
                        <div class="col-2 text-center">
                            <i class="fa fa-binoculars app_icon"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="m-0 fw-bold">سطوح دسترسی</h3>
                            <p>تعیین سطوح محرمانگی</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4" *ngxPermissionsOnly="['Permissions.Roles.View']">
                    <div class="row align-items-center _settingbox w-100 " [routerLink]="'../usersrole'">
                        <div class="col-2 text-center">
                            <i class="fa fa-users app_icon"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="m-0 fw-bold">گروه های کاربری</h3>
                            <p>تعریف، ویرایش و حذف گروه های کاربری</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4" *ngxPermissionsOnly="['Permissions.Evaluation.View']" > 
                    <div class="row align-items-center _settingbox w-100 " [routerLink]="'/evaluatedknowledge'">
                        <div class="col-2 text-center">
                            <i class="fa fa-cube app_icon"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="m-0 fw-bold">ارزیابی دانش</h3>
                            <p>تنظیمات ارزیابی دانش
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-5">
                    <div class="row align-items-center _settingbox w-100 ">
                        <div class="col-3 text-center">
                            <i class="fa fa-question-circle app_icon"></i>
                        </div>
                        <div class="col-9">
                            <h3 class="m-0 fw-bold">پرسش و پاسخ</h3>
                            <p>مدیریت پرسش و پاسخ
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-7" *ngxPermissionsOnly="['Permissions.Packages.View']" >
                    <div class="row align-items-center _settingbox w-100 " [routerLink]="'/knowledge'">
                        <div class="col-3 text-center">
                            <i class="fa fa-gem app_icon"></i>
                        </div>
                        <div class="col-9">
                            <h3 class="m-0 fw-bold"> بسته های دانش</h3>
                            <p>مدیریت بسته های دانش
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6">
                    <div class="row align-items-center _settingbox w-100 ">
                        <div class="col-2 text-center">
                            <i class="fa fa-file-excel app_icon"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="m-0 fw-bold">ورود اطلاعات excel</h3>
                            <p>ثبت کاربران جدید از طریق Excel
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-6" *ngxPermissionsOnly="['Permissions.Form.View']">
                    <div class="row align-items-center _settingbox w-100 "  [routerLink]="'../forms'">
                        <div class="col-2 text-center">
                            <i class="fal fa-clipboard-list app_icon"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="m-0 fw-bold">فرم ها</h3>
                            <p>طراحی و مدیریت فرمها بصورت پویا
                            </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>