
<div class="">
  <div class="contianer-fluid _box" style="background: #fff !important;min-height: 70vh;">
    <h3 class="border_bottom">{{title}}</h3>
      <div class="table-responsive-sm">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">ردیف</th>
                  <th scope="col">تصویر</th>
                  <th scope="col">شناسه کاربری</th>
                  <th scope="col">نام</th>
                  <th scope="col">نام خانوادگی</th>
                  <th scope="col" *ngxPermissionsOnly="['Permissions.Access.Edit']">تعیین سطح دسترسی</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of users; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td>
                    <img width="25" height="25" 
                    [src]="item.pictureName != null && item.pictureName != '' ? 'http://188.121.109.156:5036/uploadTemp/' + item.pictureName : './assets/images/user.png'" alt="" class="round">
                </td>
                  <td>{{item.userName != '' ? item.userName : '-'}}</td>
                  <td>{{item.firstname}}</td>
                  <td>{{item.lastname}}</td>
                  <td (click)="assignRole(item , template , 'لیست نقش ها')" *ngxPermissionsOnly="['Permissions.Access.Edit']">
                    <i class="fas fa-external-link-alt pointer"></i>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>

      <div class="row" dir="ltr">
          <div class="col-xs-12 col-12">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
            previousText="قبلی" nextText="بعدی" (pageChanged)="pageChange($event)"
            ></pagination>
          </div>
        </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left m-0 fw-bold">{{modal.title}}</h4>
  </div>
  <div class="modal-body">
    <mat-selection-list #user dir="ltr">
      <mat-list-option *ngFor="let item of roles.items" (selectedChange)="_selectedRoles($event , item)">
          <div class="d-flex align-items-center justify-content-end">
              {{item.name}}
          </div>
      </mat-list-option>
  </mat-selection-list>

  </div>
  <div class="modal-footer">
    <div class="col-12">
      <button class="w-100 fs-12 app_btn" (click)="setroles(_rolesselected)">ثبت</button>
      <button mat-stroked-button color="warn" class="w-100 fs-12" (click)="modalRef?.hide()">انصراف</button> 
    </div>
  </div>
</ng-template>





