<div class="">
  <div class="contianer-fluid _box" style="background: #fff !important;min-height: 70vh;">
    <h3 class="border_bottom">{{title}}</h3>
    <button type="button" class="btn btn-success mb-3 fs-12" (click)="updateRole(0 , null)"
      *ngxPermissionsOnly="['Permissions.Roles.Create']">ثبت نقش جدید</button>
    <div class="table-responsive-sm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ردیف</th>
            <th scope="col">عنوان</th>
            <th scope="col" *ngxPermissionsOnly="['Permissions.Roles.Edit']">ویرایش</th>
            <th scope="col" *ngxPermissionsOnly="['Permissions.Roles.Delete']">حذف</th>
            <th scope="col" *ngxPermissionsOnly="['Permissions.Roles.Edit']">سطح محرمانگی</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usersrole; let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.name}}</td>
            <td  *ngxPermissionsOnly="['Permissions.Roles.Edit']">
              <button class="bg-transparent border-0" [disabled]="item.id === 1" (click)="updateRole(1 , item)">
                <i class="fa fa-edit pointer"></i>
              </button>
            </td>
            <td *ngxPermissionsOnly="['Permissions.Roles.Delete']">
              <button class="bg-transparent border-0" [disabled]="item.id === 1">
                <i class="fa fa-trash pointer"></i>
              </button>
            </td>
            <td *ngxPermissionsOnly="['Permissions.Roles.Edit']">
              <button class="bg-transparent border-0" [disabled]="item.id === 1" (click)="getpermissions(template , 'سطح محرمانگی' , item)">
                <i class="fa fa-ban pointer"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row" dir="ltr">
      <div class="col-xs-12 col-12">
        <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" previousText="قبلی" nextText="بعدی">
        </pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left m-0 fw-bold">{{modal.title}}</h4>
  </div>
  <div class="modal-body">

    <div class="item">
      <div class="i_header row align-items-center category pt-2 pb-2">
        <div class="col-md-2">
          <div>
            عنوان
          </div>
        </div>
        <div class="col-md-2">
          <div>
            نمایش
          </div>
        </div>
        <div class="col-md-2">
          <div>
            ایجاد
          </div>
        </div>
        <div class="col-md-2">
          <div>
            ویرایش
          </div>
        </div>
        <div class="col-md-2">
          <div>
            حذف
          </div>
        </div>
      </div>
    </div>

    <div class="content_row row align-items-center mb-2" *ngFor="let item of permossions; let i=index">
      <div class="col-md-2">
        <div class="p-1">
          <span *ngIf="item.category === 'Packages'">بسته ها</span>
          <span *ngIf="item.category === 'Users'">کاربران</span>
          <span *ngIf="item.category === 'Roles'">نقش ها</span>
          <span *ngIf="item.category === 'Profile'">پروفایل</span>
          <span *ngIf="item.category === 'Evaluation'">ارزیابی</span>
          <span *ngIf="item.category === 'Access'">سطح دسترسی</span>
          <span *ngIf="item.category === 'Form'">فرم</span>
          <span *ngIf="item.category === 'Graph'">گراف</span>
          <span *ngIf="item.category === 'Browser'">مرورگر</span>
          <span *ngIf="item.category === 'Reports'">گزارشات</span>
        </div>
      </div>
      <div class="col-md-2" *ngFor="let permission of item.permissions; let i=index">
        <mat-checkbox *ngIf="permission.value.split('.')[1] !== 'General'"
          [(ngModel)]="permission.selected"></mat-checkbox>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="col-12">
      <button class="w-100 fs-12 app_btn" (click)="setrolepermission(permossions)">ثبت</button>
      <button mat-stroked-button color="warn" class="w-100 fs-12" (click)="modalRef?.hide()">انصراف</button>
    </div>
  </div>
</ng-template>