<div class="container">
    <div class="contianer-fluid _box" style="background: #fff !important;min-height: 70vh;">
        <h3 class="border_bottom">{{_isEdit ? title.isEdit : title.add}}</h3>
        <form [formGroup]="appform" (submit)="submit()">
            <div class="row align-items-center">
                <div class="col-12 col-md-12 col-xl-6">
                    <label for="" class="text-dark">عنوان</label>
                    <div class="app_input">
                        <input type="text" [formControlName]="'name'">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xl-12">
                    <div class="row">
                        <div class="col-12 col-md-2">
                            <button type="submit" class="btn btn-success w-100 fs-12">ثبت</button>
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="button" class="btn btn-light w-100 fs-12" [routerLink]="'../usersrole'">بازگشت</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>