<article class="graph" >
  <h3 class="header">
    <i class="fas fa-search"></i>
    جست و جوی اعضا
  </h3>
  <form [formGroup]="userForm" novalidate autocomplete="off">
    <ng-select class=" w-100  p-0  app_input m-0 " [items]="userList"
    [multiple]="false" [clearable]="false"
    [closeOnSelect]="true" [searchable]="false" bindLabel="userName"
    bindValue="id" placeholder="انتخاب کنید..." (change)="getUserGraph($event)">
  </ng-select>
    <!-- <input
      class="app_input"
      type="text"
      placeholder="جستجو کنید .."
      formControlName="username"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="getUserGraph($event)"
    >
      <mat-option *ngFor="let user of userList" [value]="user.id">
        {{ user.userName }}
      </mat-option>
    </mat-autocomplete> -->
  </form>

  <div class=""  style="direction: ltr;">
    <section 
      *ngIf="userForm.controls['username'].value"
      id="chartDiv"
      style="width: 100%; height: 600px"
    ></section>
  </div>
</article>
