.mgs_content {
    display: flex;
    flex-direction: column-reverse;
    height: 415px;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.mgs_content::-webkit-scrollbar {
    display: none;
}
.emoji_box{
    top: -35px;
    left: 0;
    box-shadow: 0px 2px 4px #919191;
    padding: 0.2em;
    border-radius: 6px;
    background: #fff;
}
#submit{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ad8af84a;
    border: 0;
    padding: 1em;
    margin: 0 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        margin-left: 0.3em;
    }
}

.e_icon{
    color: #9e9e9e;
}
.e_icon.active{
    color: #fdac41;
}

#file{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ccc;
    border: 0;
    padding: 1em;
    margin: 0 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8d8d8d;
}
.chat_room_header{
    background: #3d4972;
    color : #fff

}
.members{
    overflow: auto;
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
    height: 220px;
}
.members::-webkit-scrollbar {
    display: none;
}

.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
    margin-top: 4px;
  }
