<div class="chat_space" *ngIf="!profile.show">
    <div class="d-flex align-items-center justify-content-between p-2 chat_room_header">
        <div class="d-flex align-items-center pointer" (click)="_profile()">
            <span class="d-flex align-items-center justify-content-center h--30 fs-13 fw-bold ml-5"
                *ngIf="room.imagePath == '' || room.imagePath == null"
                style="width: 30px;border-radius: 50%;background: #B08BBB;color: #fff;">{{room.name.slice(0,1).toUpperCase()}}
            </span>
            <img *ngIf="room.imagePath !== ''" [src]="'http://188.121.109.156:5036/uploadTemp/' + room.imagePath" alt=""
                width="30" height="30" class="round ml-5">
            <span class="fw-bold">{{room.name.length > 15 ? room.name.slice(0,15) + '...' : room.name}}</span>
        </div>
        <i class="fa fa-chevron-left pointer" (click)="close(1)"></i>
    </div>
    <div class="mgs_content p-2">
        <app-message [messages]="messages" (LOADING)="_loading($event)"></app-message>
    </div>
    <form [formGroup]="appform" (submit)="sendMessage()">
        <div class="col-12">
            <div class="send_input d-flex align-items-center justify-content-between mr-5 ml-5">
                <div class="app_input h--30 m-0  position-relative" style="width: 90%;">
                    <input #sent type="text" placeholder="بنویسید..." [formControlName]="'text'">
                    <i class="fas fa-grin-wink pointer e_icon" [ngClass]="emoji ? 'active' :''"
                        (click)="emoji = !emoji"></i>
                    <div class="d-flex align-items-center position-absolute emoji_box" *ngIf="emoji">
                        <span *ngFor="let emo of emojis" class="ml-5 pointer"
                            style="font-family: Serif, Sans-serif;direction: ltr;" (click)="selectEmoji(emo , sent)">
                            {{emo}}
                        </span>
                    </div>
                </div>
                <button type="submit" id="submit" [disabled]="!appform.valid"
                    *ngIf="appform.controls['text'].value !==''">
                    <img src="./assets/images/send.png" class="pointer" alt="" width="20"
                        style="transform: rotate(-135deg);" height="20">
                </button>
                <button type="button" id="file" *ngIf="!appform.valid" (click)="openfile(file)" [disabled]="loading">
                    <input type="file" hidden #file (change)="socketfile($event.target)">
                    <i class="fa" [ngClass]="!loading ? 'fa-plus' : 'fa-spinner fa-spin'"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="chat-profile p-4" *ngIf="profile.show">
    <div class="text-left">
        <i class="fa fa-chevron-left pointer" (click)="close(2)"></i>
    </div>
    <div class="d-flex flex-column align-items-center pointer mt-1" >
        <span class="d-flex align-items-center justify-content-center w--60 h--60 fs-23 fw-bold round"
            *ngIf="room.imagePath == '' || room.imagePath == null" [routerLink]="'profile'"
            style="background: #B08BBB;color: #fff;">{{room.name.slice(0,1).toUpperCase()}}
        </span>
        <img *ngIf="room.imagePath !== ''" [src]="'http://188.121.109.156:5036/uploadTemp/' + room.imagePath" alt=""
            width="80" height="80" class="round ml-5" [routerLink]="'profile'">
        <p class="text-center fw-bold mt-2 fs-18">
            {{room.name.length > 15 ? room.name.slice(0,15) + '...' : room.name}}</p>
    </div>

    <app-chat-search (SEARCH_VALUE)="search_value($event)"></app-chat-search>

    <div class="add-member mt-3">
        <button class="btn btn-success fs-11 fw-bold " (click)="_addmemberdialog();addmemberdialog.isVissible = true">
            <i class="fa fa-user-plus p-1"></i>
            اضافه کردن عضو جدید
        </button>
    </div>
    <div class="members">
        <div class="text-center text-danger fs-11 mt-2" *ngIf="members.length <=0">رکوردی یافت نشد...</div>
        <div class="d-flex p-2 border_b_gray pointer align-items-center" *ngFor="let item of members" (click)="_navigatetoprofile(item)">
            <span *ngIf="item.picture == ''"
                class="d-flex align-items-center justify-content-center h--35 fs-14 fw-bold"
                style="width: 35px;border-radius: 50%;background: #3E54AC;color: #fff;">{{item.userName.slice(0,1).toUpperCase()}}</span>
            <img *ngIf="item.picture != ''" [src]="'http://188.121.109.156:5036/uploadTemp/' + item.picture" alt="" width="35" height="35" class="round">
            <div class="d-flex flex-column mr-5">
                <span class="fs-13 fw-bold">{{item.userName}}</span>
            </div>
        </div>
    </div>

</div>


<!-- join-popup -->
<div *ngIf="addmemberdialog.isVissible" class="position-absolute d-flex dialog w-100" #template>
    <div class="joindialog m-auto p-3 h--340" [@dialog]="addmemberdialog.isVissible ? 'vissible' : 'hidden'"
        style="overflow: auto;">

        <div class="d-flex justify-content-between align-items-center">
            <i class="fa fa-times pointer" (click)="addmemberdialog.isVissible = false"></i>
            <button class="btn btn-success fs-11 fw-bold " (click)="_addmember();addmemberdialog.isVissible = false">
                اضافه
            </button>

        </div>
        <mat-selection-list #user dir="ltr">
            <mat-list-option *ngFor="let item of users" (selectedChange)="_selectedUser($event , item)">
                <div class="d-flex align-items-center justify-content-end">
                    {{item.userName}}
                    <img [src]="item.picture != '' ? item.picture : './assets/images/user.png' " alt="" width="20"
                        height="20" class="round">
                </div>
            </mat-list-option>
        </mat-selection-list>
    </div>
</div>
<!-- join-popup -->