
<div class="_box">
    <h3 class="text-dark">{{title}}</h3>
    <app-accordion [menu_Items]="treepackage" (GET_ACCORDION_ITEM)="GET_ACCORDION_ITEM($event)"  [topicmode]="false" ></app-accordion>
</div>


