._responsiveMode{
    .nav_btn{
        margin-bottom: 1em !important;
    }
}

.notifcount{
    left: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fdac41;
    border: 1px solid;
}
.notifbox{
background: #fff;
border-radius: 5px;
// box-shadow: 0px 14px 20px 0px #c0c0c0;
z-index: 1000;
}
._notifs:nth-child(even){
    background: #eee;
}
img{
    margin: 0 0.3em;
}
.app-tooltip{
    position: absolute;
    bottom: -25px;
    background: #000;
    padding: 1px 0.7em;
    border-radius: 3px;
    opacity: 0;
}
.app-tooltip.show{
opacity: 1;
transition: 0.3s all;

}



//////

.ng-tooltip {
    position: absolute;
    font-size: 10px;
    text-align: center;
    color: white;
    padding: 2px 1em;
    background:black;
    border-radius: 5px;
    z-index: 1000;
    opacity: 1; 
    bottom: -30px;  
    width: max-content;   
}

.ng-tooltip-show {
    opacity: 1;
}