<div class="row navbar mb-3 w-100 m-0" (window:resize)="onResize($event)">
    <div class="col-5 col-md-5 col-xl-4" *ngIf="!isMobile">
        <div class="row justify-content-around">
            <div class="col-1">
                <div class="nav_btn pointer position-relative" #tooltip [routerLink]="'/panel'"
                    app-tooltip="{{'خانه'}}">
                    <i class="fa fa-home"></i>
                </div>
            </div>
            <div class="col-1 pr--15 pl--15">
                <div class="nav_btn pointer position-relative" [matMenuTriggerFor]="belowMenu"
                    app-tooltip="{{'جستجو'}}">
                    <i class="fa fa-search"></i>

                    <mat-menu class="mt-2" #belowMenu="matMenu" yPosition="below">
                        <button mat-menu-item [routerLink]="'/search'">
                            جستجو عمومی
                        </button>
                        <button mat-menu-item [routerLink]="'/search/advance'">
                            جستجو پیشرفته
                        </button>
                        <button mat-menu-item [routerLink]="'/search/member'">
                            جستجو اعضا
                        </button>
                    </mat-menu>

                </div>
            </div>
            <div class="col-1 pr--15 pl--15">
                <div class="nav_btn pointer position-relative" app-tooltip="{{'پرسش و پاسخ'}}">
                    <i class="fa fa-comment"></i>
                </div>
            </div>
            <div class="col-1" *ngxPermissionsOnly="['Permissions.Graph.View']">
                <div class="nav_btn pointer position-relative" app-tooltip="{{'نقشه'}}" [routerLink]="'/graph'">
                    <i class="fa fa-location-arrow"></i>
                </div>
            </div>
            <div class="col-1" *ngxPermissionsOnly="['Permissions.Browser.View']">
                <div class="nav_btn pointer position-relative" app-tooltip="{{'مرورگر'}}">
                    <i class="fa fa-map-signs"></i>
                </div>
            </div>
            <div class="col-1" *ngxPermissionsOnly="['Permissions.Reports.View']">
                <div class="nav_btn pointer position-relative" [routerLink]="'/report'"
                    app-tooltip="{{'آمار و گزارش'}}">
                    <i class="fa fa-signal"></i>
                </div>
            </div>
            <div class="col-1">
                <div class="nav_btn pointer position-relative" [routerLink]="'/setting'" app-tooltip="{{'تنظیمات'}}">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
            <div class="col-1">
                <div class="nav_btn pointer position-relative" [matBadge]="cartables.length" matBadgeOverlap="true"
                    matBadgeColor="warn" app-tooltip="{{'کارتابل'}}" [routerLink]="'/cartable'">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-2 col-md-2 col-xl-5" *ngIf="isMobile">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <div class="col-12 col-md-12 col-xl-6">
                        <div class="nav_btn pointer" (click)="menu_bar(0)">
                            <i class="fa fa-bars"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9 col-md-5 col-xl-4">
        <div class="row align-items-center">
            <div class="col-2 col-md-2 col-xl-2">
                <div class="nav_btn pointer position-relative" [matBadge]="notifcount.length" matBadgeOverlap="true"
                    matBadgeColor="warn" [matMenuTriggerFor]="belowMenu">
                    <i class="fa fa-bell"></i>

                    <mat-menu class="mt-2" #belowMenu="matMenu" yPosition="below">
                        <div class="text-center text-dark fw-bold   pb-2 pt-2 bg_gray">اعلان ها</div>
                        <div class="" mat-menu-item *ngFor="let item of notiflist">
                            <p class="text-dark h--18 m-0" (click)="getmention(item)">{{item.notificationTxt}}
                            </p>
                            <p class="fs-10 text-dark h--18 m-0">
                                {{item.creationTime }}
                            </p>

                        </div>
                        <div class="notifbox pt-2 pb-2" *ngIf="notiflist.length <=0">
                            <div class="fs-12 border_bottom _notifs text-danger text-center">
                                خالی است
                            </div>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <div class="col-2 col-md-2 col-xl-2">
                <div class="nav_btn pointer position-relative" matBadge="0" matBadgeOverlap="true" matBadgeColor="warn">
                    <i class="fa fa-star"></i>
                </div>
            </div>
            <div class="col-2 col-md-2 col-xl-2">
                <div class="nav_btn pointer">
                    <i class="fa fa-user"></i>
                </div>
            </div>
            <div class="col-2 col-md-2 col-xl-2">
                <div class="nav_btn pointer" (click)="signOut()">
                    <i class="fa fa-sign-in"></i>
                </div>
            </div>
            <div class="col-4 col-md-4 col-xl-4 p-0" [routerLink]="'/profile'">
                <div class="">
                    <div class="nav_img pointer m-auto">
                        <img [src]='user?.picture !="" && user?.picture !=null ? "http://188.121.109.156:5036/uploadTemp/" + user?.picture : "./assets/images/user.png"'
                            alt="" width="35" height="35">
                        <span class="text-center mt-1 text-white pointer">{{user?.firstname + ' '+
                            user?.lastname}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- responsive---mode -->
<div class="row _responsiveMode _menubar"
    style="position: fixed;top: 0;background: #000000d8;width: 20vw;height: 100vh;right: -250px;transition: all 1s;"
    *ngIf="isMobile">
    <i class="fa fa-times text-white fs-25 pointer"
        style="position: relative;text-align: left;margin-top: 1em;padding-left: 1em;" (click)="menu_bar(1)"></i>
    <div class="col-12">
        <div class="row" style="margin-right: 0.5em;">
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer">
                    <i class="fa fa-home" [routerLink]="'/'"></i>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer">
                    <i class="fa fa-search"></i>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer">
                    <i class="fa fa-comment"></i>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer">
                    <i class="fa fa-location-arrow"></i>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer">
                    <i class="fa fa-map-signs"></i>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer">
                    <i class="fa fa-signal"></i>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer" [routerLink]="'/setting'">
                    <i class="fa fa-cog"></i>
                </div>
            </div>
            <div class="col-12 col-md-12 col-xl-12">
                <div class="nav_btn pointer" [routerLink]="'/cartable'">
                    <i class="fa fa-envelope"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- responsive---mode -->