<div class="row w-100">
    <div class="d-flex" style="overflow: hidden;position: relative;">
        <div class="colleagueimage pointer" *ngFor="let item of colleagues; let i=index" (click)="getcolleagueprofile(item)">
            <img [src]="item.image !='' ? item.image : './assets/images/user.png'" alt="" class="w-100">
        </div>
    </div>
</div>