<div class="col-12 m-auto">
    <div class="fs-14 text-left text-white pointer pb-1" *ngIf="displayCreatetopic" (click)="displayPosts()">نمایش پست
        ها</div>
</div>
<div class="row ">
    <div class="col-12 col-md-3" *ngIf="isvisible">
        <app-packagetree [tree]="packages" [title]="'بسته ها'" (GETITEM)="GETITEM($event)" [toolbar]="false"
            [nonBorder]="false" [showaddIcon]="false">
        </app-packagetree>
    </div>
    <div class="col-12 "
        [ngClass]="[!displayCreatetopic ?'col-md-6' : 'col-md-9' , !isvisible ? 'col-md-12' :'col-md-6']">
        <form [formGroup]="appform" (submit)="submit()">
            <div class="_box" style="min-height: 200px;" *ngIf="!displayCreatetopic">
                <h3 class="text-dark fw-bold">پیام</h3>
                <div class="app_input">
                    <textarea style="background: transparent;border: 0;" type="text" placeholder="بنویسید..."
                        [formControlName]="'postContent'"></textarea>
                </div>
                <input type="file" hidden (change)="getimageValue($event)" id="_input">
                <div class="row w-100 m-auto align-items-center">
                    <div class="col-12 col-md-6 col-xl-2">
                        <button type="button" class="btn upload_btn fs-12 p-1" (click)="uploadimage()">
                            <div class="" *ngIf="!selectedImage">
                                <i  class="fa fa-plus" style="margin-left: 3px;"></i>
                            </div>

                            <div *ngIf="selectedImage">
                                <div class="d-flex align-items-end" *ngIf="selectedImage.type=== 3">
                                    <img [src]="imageUrl" alt="" width="40" height="40">
                                </div>
                                <div class="d-flex align-items-end" *ngIf="selectedImage.type === 1">
                                    <img [src]="'./assets/images/music-file.png'" alt="" width="40" height="40">
                                    <span>{{selectedImage?.name.split('.')[0].slice(0,5) + '...'}}</span>
                                </div>
                                <div class="d-flex align-items-end" *ngIf="selectedImage.type === 4">
                                    <img [src]="'./assets/images/pdf.png'" alt="" width="40" height="40">
                                    <span>{{selectedImage?.name.split('.')[0].slice(0,5) + '...'}}</span>
                                </div>
                                <div class="d-flex align-items-end" *ngIf="selectedImage.type === 2">
                                    <img [src]="'./assets/images/mp4.png'" alt="" width="40" height="40">
                                    <span>{{selectedImage?.name.split('.')[0].slice(0,5) + '...'}}</span>
                                </div>
                            </div>
                        </button>
                    </div>
             
                    <div class="col-12 col-md-6 col-xl-2">
                        <mat-checkbox formControlName="private">خصوصی</mat-checkbox>
                    </div>
                    <div class="col-12 col-md-6 col-xl-4">

                    </div>
                    <div class="col-12 col-md-12 col-xl-4">
                        <button type="submit" class="app_btn">ثبت</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">

            <app-postcard [postslist]="postslist" *ngIf="!displayCreatetopic" (RELOADPOSTS)="RELOADPOSTS($event)">
            </app-postcard>
        </div>

        <app-topics *ngIf="displayCreatetopic" [packageItem]="packageItem" [topics]="topics"
            [currentPackageId]="currentPackageId">
        </app-topics>
    </div>
    <div class="col-12 col-md-3" *ngIf="!displayCreatetopic">
        <div class="_box">
            <h3 class="text-dark fw-bold">نظرسنجی</h3>
        </div>
    </div>
</div>

<div class="scroller position-fixed d-none" #scroller>
    <button class="bg-transparent border-0" (click)="scrollTop()">
        <img src="./assets/images/top.png" alt="" width="55" height="55">
    </button>
</div>