<div class="container-fluid text-center" style="height: 100vh;background: #f4f4f4;">
    <img src="./assets/images/notfound/404.svg" alt="" style="width: 100%;height: 60%;">
    <h1 style="color: #1da1f2;">صفحه مورد نظر یافت نشد...!</h1>
    <a class="text-dark fs-14" [routerLink]="''">بازگشت به صفحه اصلی</a>
</div>