<div class="" *ngIf="profileAwards != undefined">
    <h3 class="border-bottom">{{title}}</h3>

    <div class="row">
        <div class="col-12 text-danger text-center mt-2 mb-2 " *ngIf="profileAwards.length <= 0">
            رکوردی ثبت نشده است!
        </div>
        <div class="col-12" *ngIf="profileAwards.length > 0">
            <div class="table-responsive-sm">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ردیف</th>
                            <th scope="col">عنوان</th>
                            <th scope="col">محل</th>
                            <th scope="col">تاریخ شروع</th>
                            <th scope="col">تاریخ پایان</th>
                            <th scope="col">ویرایش</th>
                            <th scope="col">حذف</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of profileAwards; let i=index">
                            <th scope="row">{{i+1}}</th>
                            <td>{{item.title}}</td>
                            <td>{{item.location}}</td>
                            <td>{{item.start | jalali_date}}</td>
                            <td>{{item.end| jalali_date}}</td>
                            <td (click)="edit(item)"><i class="fa fa-edit pointer"></i></td>
                            <td (click)="remove(item.id)"><i class="fa fa-trash pointer"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12">
            <form [formGroup]="appform" (submit)="submit(appform)">
                <div class="container">
                    <div class="row align-items-center _border _radus p-1">
                        <div class="col-12 col-md-12 col-xl-6">
                            <label for="" class="text-dark">عنوان</label>
                            <div class="app_input"  [ngClass]="{'isInvalid':validateClass('title') && submited}">
                                <input type="text" [formControlName]="'title'">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-6">
                            <label for="" class="text-dark">محل</label>
                            <div class="app_input" [ngClass]="{'isInvalid':validateClass('location') && submited}">
                                <input type="text" [formControlName]="'location'">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-6">
                            <label for="" class="text-dark">تاریخ شروع</label>
                            <div class="">
                                <input type="text" [formControlName]="'start'" hidden>
                                <ngx-jdatepicker class="app_input" dir="rtl" [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="startDate" theme="dp-material" placeholder="__/_/_">
                                </ngx-jdatepicker>
                                <div class="text-danger fs-10" *ngIf="validateClass('start') && submited">
                                    تاریخ را انتخاب کنید
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-6">
                            <label for="" class="text-dark">تاریخ پایان</label>
                            <div class="">
                                <input type="text" [formControlName]="'end'" hidden>
                                <ngx-jdatepicker class="app_input" dir="rtl" [(ngModel)]="endDate" placeholder="__/_/_"
                                    [ngModelOptions]="{standalone: true}" theme="dp-material">
                                </ngx-jdatepicker>
                                <div class="text-danger fs-10" *ngIf="validateClass('end') && submited">
                                    تاریخ را انتخاب کنید
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12">
                            <label for="" class="text-dark">توضیحات </label>
                            <div class="app_input" [ngClass]="{'isInvalid':validateClass('description') && submited}">
                                <textarea type="text" [formControlName]="'description'" class="border-0"
                                    style="background: transparent;"></textarea>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-6">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-success w-100 fs-12 w-100">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>