
<div class="container mb-2 p-0" *ngIf="(item.type === 'longTextField' && !item.isOpen) || closeMode" >
  <div class="row w-100 m-0" [ngClass]="hidden ? 'border_b_gray' : ''" >
    <div class="d-flex p-0">
      <strong class="fs-14 fw-bold mb-2" [innerText]="appform.controls['title'].value">
      </strong>
      <i class="fa fa-star-of-life text-danger fs-8" *ngIf="item?.configuration?.required && !hidden"></i>
    </div>
    <div class="col-12">
      <div [ngClass]="hidden ? '' : 'app_input m-0'" >
        <textarea type="text" placeholder="" class="w-100 border-0"  [(ngModel)]="appform.controls['value'].value"
        [ngModelOptions]="{standalone: true}" [maxlength]="appform.controls['maxlength'].value" [rows]="appform.controls['lines'].value"
         (input)="textvalue($event.target , item)" [readOnly]="hidden"
        ></textarea>
    
    </div>
    <span class="text-danger fs-10" *ngIf="closeMode && !hidden && !item?.isvalid && item.isvalid != null && !valid">
      این فیلد ضروری است
    </span>
    </div>
  </div>
</div>

<section *ngIf="(item.type === 'longTextField') && item.isOpen && !closeMode" id="formsbox" class="w-100" >
    <form [formGroup]="appform">
  <div class="row w-100">
    <div class="col-12 col-md-12">
      <mat-checkbox [formControlName]="'required'">
        ضروری
      </mat-checkbox>
    </div>
    <div class="col-12 col-md-6">
      <label for="" class="text-dark fs-12">عنوان</label>
      <div class="app_input" [ngClass]="{'isInvalid':validateClass('title') && submitted}">
          <input type="text" [formControlName]="'title'">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <label for="" class="text-dark fs-12">متن راهنما</label>
      <div class="app_input">
          <input type="text" [formControlName]="'helpText'">
      </div>
    </div>
    <div class="col-12 col-md-12">
      <mat-checkbox  (change)="toggle($event)" [(ngModel)]="restrictedAccess.flag"
      [ngModelOptions]="{standalone: true}"
      >
        محدودیت دسترسی برای یک یا چند نقش از
        لیست زیر:
      </mat-checkbox>
      <div class *ngIf="_restrictedAccess">
        <div class *ngFor="let item of restrictedAccess.accessTo">

          <mat-checkbox [(ngModel)]="item.checked"
          [ngModelOptions]="{standalone: true}">
          {{item.title}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">مقدار</label>
        <div class="app_input">
            <input type="text" [formControlName]="'value'" [maxlength]="appform.controls['maxlength'].value">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">نوع</label>
        <select class="app_input w-100" [formControlName]="'type'">
          <option *ngFor="let option of titles" [value]="option.id">
            {{option.name}}
         </option>
      </select>
      </div>
      <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">طول بیشینه</label>
        <div class="app_input">
            <input type="text" [formControlName]="'maxlength'" (input)="maxlength($event.target)">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">سطرها</label>
        <div class="app_input">
            <input type="number" [formControlName]="'lines'">
        </div>
      </div>

    <div class="col-12">
      <div class="col-12 col-md-12">
        <div class="row">
          <div class="col-12 col-md-12">
            <button type="button" class="btn btn-primary ml-5 fs-12 w-100" (click)="submit(item)">ذخیره</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </form>
</section>