<div class="container p-0">
    <div class="row">
        <div class="col-12 col-md-3">
            <div class="_box" style="border: 0 !important;">
                <app-packagetree [tree]="packages" [title]="'بسته ها'" (GETITEM)="GETITEM($event)" [toolbar]="true"
                    [nonBorder]="false" [topicmode]="false"></app-packagetree>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="_box">
                <div class="row w-100 m-0 align-items-center justify-content-center pt-3 pb-3">
                    <fieldset [disabled]="disabled">
                        <form [formGroup]="appform" (click)="alert()">

                            <mat-tab-group [animationDuration]="'0'" [dir]="'rtl'">
                                <mat-tab label="First">
                                    <ng-template mat-tab-label>
                                        <i class="fal fa-info-square fs-18 pointer ml-5" style="color: #5a8dee;"></i>
                                        <span> مشخصات</span>
                                    </ng-template>
                                    <section>
                                        <div class="row w-100 m-0 mt-2"
                                            style="border-radius: 3px;border: 1px solid #c4d9d8;">
                                            <h2 class="text-dark border_bottom " style="background: #eee;"> مشخصات</h2>
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <label for="" class="text-dark"> عنوان</label>
                                                    <div class="app_input">
                                                        <input type="text" class=" w-100" placeholder="" #title
                                                            [formControlName]="'title'">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <label for="" class="text-dark"> توضیحات</label>
                                                    <div class="app_input">
                                                        <input type="text" class=" w-100" placeholder=""
                                                            [formControlName]="'comment'">
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-12">
                                                    <label for="" class="text-dark"> پیام موفقیت</label>
                                                    <div class="app_input">
                                                        <input type="text" class=" w-100" placeholder=""
                                                            [formControlName]="'successMessage'">
                                                    </div>

                                                </div>
                                                <div class="col-12 col-md-12">
                                                    <label for="" class="text-dark"> مهندس دانش</label>
                                                    <select class="app_input w-100" (change)="openOption($event.target)"
                                                        [formControlName]="'knowlegWorkerType'">
                                                        <option *ngFor="let option of knowledgemanager"
                                                            [value]="option.id">
                                                            {{option.name}}
                                                        </option>
                                                    </select>

                                                    <div class="" *ngIf="changeOptions ==1">
                                                        <select class="app_input w-100"
                                                        [formControlName]="'managerPackageId'">
                                                        <option *ngFor="let option of allLightPackages"
                                                            [value]="option.id">
                                                            {{option.title}}
                                                        </option>
                                                    </select>

                                                    </div>
                                                    
                                                    <div class="" *ngIf="changeOptions ==2">
                                                        <button  type="button" class="btn btn-success fs-12 ml-5" (click)="openmodal()">انتخاب موضوعات</button>
                                                    </div>

                                                </div>
                                                <div class="col-12 col-md-12">
                                                    <label for="" class="text-dark"> حداکثر سطح مورد قبول برای مهندس
                                                        دانش</label>
                                                    <div class="app_input">
                                                        <input type="number" class=" w-100" placeholder=""
                                                            [formControlName]="'maximumAcceptableLevel'">

                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="canGroupRegistar">قابلیت ثبت گروهی داشته باشد</mat-checkbox>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="hasNoContent">بدون محتوا است</mat-checkbox>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="canBeEvaluated">قابل ارزیابی باشد</mat-checkbox>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="canEditByKnowledgWorker">مهندس دانش قابلیت ویرایش داشته باشد</mat-checkbox>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="canEditByRegistar">ثبت کننده قابلیت ویرایش داشته باشد</mat-checkbox>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="canEditByParticipant">مشارکت کننده قابلیت ویرایش داشته باشد</mat-checkbox>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="canEditByExpert">خبره دانشی قابلیت ویرایش داشته باشد</mat-checkbox>
                                                </div>
                                                <div class="col-12 col-md-6">
                                                  <mat-checkbox formControlName="canEditByMembers">توسط اعضا قابل ویرایش باشد</mat-checkbox>
                                                </div>
                                                <div class="col-12">
                                                    <button type="button" class="app_btn"
                                                        (click)="save(0)">ذخیره</button>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </mat-tab>
                                <mat-tab label="Second">
                                    <ng-template mat-tab-label>
                                        <i class="fal fa-list-alt fs-18 pointer ml-5" style="color: #5a8dee;"></i>
                                        <span> فرم</span>
                                    </ng-template>
                                    <section>
                                        <div class="row w-100 m-0 mt-2"
                                            style="border-radius: 3px;border: 1px solid #c4d9d8;">
                                            <h2 class="text-dark border_bottom " style="background: #eee;"> انتخاب فرم
                                            </h2>
                                            <div class="col-12">
                                                <select class="app_input w-100" [formControlName]="'formId'"
                                                    notFoundText="موردی یافت نشد" placeholder="فرم را انتخاب کنید">
                                                    <option *ngFor="let option of forms" [value]="option.id">
                                                        {{option.name}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="app_btn"
                                                    (click)="save(1)">ذخیره</button>
                                            </div>

                                        </div>
                                    </section>
                                </mat-tab>
                                <mat-tab label="Third">
                                    <ng-template mat-tab-label>
                                        <i class="fas fa-cubes fs-18 pointer ml-5" style="color: #5a8dee;"></i>
                                        <span>موضوعات</span>
                                    </ng-template>
                                    <section>
                                        <div class="row w-100 m-0 mt-2"
                                            style="border-radius: 3px;border: 1px solid #c4d9d8;">
                                            <h2 class="text-dark border_bottom " style="background: #eee;"> موضوعات</h2>
                                            <app-packagetree [tree]="topics"  
                                            [title]="''" 
                                            (GETITEM)="GET_topic_ITEM($event);" 
                                            [toolbar]="true" 
                                            [nonBorder]="false" 
                                            [topicmode]="true" 
                                            [packageId]="currentPackageId"></app-packagetree>
                                        </div>
                                    </section>
                                </mat-tab>
                                <mat-tab label="Third">
                                    <ng-template mat-tab-label>
                                        <i class="fas fa-list-ul fs-18 pointer ml-5" style="color: #5a8dee;"></i>
                                        <span>چیدمان</span>
                                    </ng-template>

                                    <section>
                                        <div class="row w-100 m-0 mt-2"
                                            style="border-radius: 3px;border: 1px solid #c4d9d8;">
                                            <h2 class="text-dark border_bottom " style="background: #eee;"> چیدمان</h2>
                                            <div class="col-12">
                                                <mat-card>
                                                    <mat-checkbox formControlName="hasEncyclopedia">دانشنامه</mat-checkbox>
                                                 
                                                </mat-card>
                                                <mat-card>
                                                    <mat-checkbox formControlName="hasForm">فرم</mat-checkbox>
                                                </mat-card>
                                                <mat-card>
                                                    <mat-checkbox formControlName="hasPov">دیدگاه ها</mat-checkbox>
                                                </mat-card> 
                                                <mat-card>
                                                    <mat-checkbox formControlName="hasExperts">خبره ها</mat-checkbox>
                                                </mat-card> 
                                                <mat-card>
                                                    <mat-checkbox formControlName="hasMembers">اعضا</mat-checkbox>
                                                </mat-card> 
                                                <mat-card>
                                                    <mat-checkbox formControlName="hasGroup">گروه</mat-checkbox>
                                                </mat-card>
                                                <mat-card>
                                                    <mat-checkbox formControlName="hasBrowser">مرورگر</mat-checkbox>
                                                </mat-card>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="app_btn"
                                                    (click)="save(3)">ذخیره</button>
                                            </div>
                                        </div>
                                    </section>
                                </mat-tab>
                            </mat-tab-group>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>

