<div class="container" *ngIf="(item.type === 'EditorField' && !item.isOpen) && hidden">
  <div class="row" [ngClass]="hidden ? 'border_b_gray' : ''">
    <div *ngIf="hidden" [innerHTML]="this.model.editorData"></div>
  </div>
</div>

<section *ngIf="(item.type === 'EditorField')&& !hidden" id="formsbox" class="w-100">
  <form>
    <div class="row w-100 mb-2" style=" cursor: initial;">
      <ckeditor dir="ltr" #editor [(ngModel)]="model.editorData" [ngModelOptions]="{standalone: true}" [editor]="Editor"
        [data]="editorData" (change)="changevalue(item)"></ckeditor>
      <div class="col-12">
        <div class="col-12 col-md-6">
          <div class="row" >
            <div class="col-12 col-md-6" *ngIf="closeMode && hidden">
              <button type="button" class="btn btn-primary ml-5 fs-11 w-100" (click)="submit(item)">ذخیره</button>
            </div>
            <div class="col-12 col-md-6" *ngIf="closeMode && hidden">
              <button type="button" class="btn btn-light  ml-5 fs-12 w-100" (click)="close()">بستن</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>