
<div class="container mb-2 p-0" *ngIf="(item.type === 'multipleChoice' && !item.isOpen) || closeMode">
  <div class="row" [ngClass]="hidden ? 'border_b_gray' : ''" >
    <div class="d-flex">
      <strong class="fs-14 fw-bold mb-2" [innerText]="appform.controls['title'].value">
      </strong>
      <i class="fa fa-star-of-life text-danger fs-8" *ngIf="item?.configuration?.required && !hidden"></i>
    </div>
    <div class="col-12" *ngFor="let select of selectedcheckbox">
      <mat-checkbox *ngIf="(closeMode || !closeMode )&& !hidden"  [value]="select.value"   [(ngModel)]="select.checked" [ngModelOptions]="{standalone: true}" 
      (change)="changeChecked($event , item)" [checked]="select.checked">{{select.name}}</mat-checkbox>
      <div class="col-12" *ngIf="hidden">
        <span *ngIf="select.checked">{{select.name}}</span>
      </div>
    </div>
    <span class="text-danger fs-10" *ngIf="closeMode && !hidden && !item?.isvalid && item.isvalid != null && !valid">
      حداقل یک گزینه را انتخاب کنید
    </span>
  </div>
</div>
<section *ngIf="(item.type === 'multipleChoice' && item.isOpen) && !closeMode" id="formsbox" class="w-100">
  <form [formGroup]="appform">
    <div class="row w-100">
      <div class="col-12 col-md-12">
        <mat-checkbox [formControlName]="'required'">
          ضروری
        </mat-checkbox>
      </div>
      <div class="col-12 col-md-6">
        <label for class="text-dark fs-12">عنوان</label>
        <div class="app_input" [ngClass]="{'isInvalid':validateClass('title') && submitted}">
          <input type="text" [formControlName]="'title'">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for class="text-dark fs-12">متن راهنما</label>
        <div class="app_input">
          <input type="text" [formControlName]="'helpText'">
        </div>
      </div>
      <div class="col-12 col-md-12">
        <mat-checkbox [formControlName]="'switchMode'">
          تغییر وضیعت
        </mat-checkbox>
      </div>
      <div class="col-12 col-md-12">
        <mat-checkbox  (change)="toggle($event)" [(ngModel)]="restrictedAccess.flag"
        [ngModelOptions]="{standalone: true}"
        >
          محدودیت دسترسی برای یک یا چند نقش از
          لیست زیر:
        </mat-checkbox>
        <div class *ngIf="_restrictedAccess">
          <div class *ngFor="let item of restrictedAccess.accessTo">

            <mat-checkbox [(ngModel)]="item.checked"
            [ngModelOptions]="{standalone: true}">
            {{item.title}}
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12">
        <strong for class="text-dark fs-14">گزینه ها</strong>
        <div class="row align-items-center mb-2"
          *ngFor="let item of selectedcheckbox">
          <div class="col-2 col-md-2">
            <mat-checkbox 
            [(ngModel)]="item.checked"
            [ngModelOptions]="{standalone: true}">
            </mat-checkbox>
          </div>
          <div class="col-12 col-md-5">
              <div class="app_input m-0">
                <input type="text" 
                [(ngModel)]="item.name"
                [ngModelOptions]="{standalone: true}">
              </div>
          </div>
          <div class="col-12 col-md-5">
            <div class="app_input m-0">
              <input type="text" [(ngModel)]="item.value"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
          <div class="row mt-3">
            <div class="col-12 col-md-12 col-xl-6">
              <button type="button" class="btn btn-success ml-5 fs-11 w-100"
                (click)="addtolist()">افزودن گزینه جدید</button>
            </div>
            <div class="col-12 col-md-12 col-xl-6">
              <button type="button" class="btn btn-primary ml-5 fs-11 w-100"
                (click)="submit(item)">ذخیره</button>
            </div>
          </div>
      </div>
    </div>
  </form>
</section>