<div class="_box">
    <h2 class="text-dark border_bottom pb-2 " *ngIf="packageItem?.has != null"> {{packageItem?.has.title}}</h2>

    <mat-stepper linear #stepper [orientation]="(stepperOrientation | async)!" dir="rtl">
        <mat-step [stepControl]="firstFormGroup" [editable]="true">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel><span class="mr-5">مشخصات</span></ng-template>

                <section>
                    <div class="row w-100 m-0" style="border-radius: 3px;border: 1px solid #c4d9d8;">
                        <h2 class="text-dark border_bottom pb-2 " style="background: #eee;"> مشخصات</h2>
                        <div class="row">
                            <div class="col-12">
                                <label for="" class="text-dark">
                                    <i class="fa fa-star-of-life text-danger fs-8"></i>
                                    عنوان</label>
                                <div class="app_input"
                                    [ngClass]="{'isInvalid':validateClass('title' , firstFormGroup) && submitted_1}">
                                    <input type="text" class=" w-100" placeholder="" formControlName="title"
                                        [required]="true" [readOnly]="packageItem.subject != null">
                                </div>
                                <label for="" class="text-dark">
                                    <i class="fa fa-star-of-life text-danger fs-8"
                                        *ngIf="packageItem?.required?.requieredKeyWord"></i>
                                    کلمه کلیدی <span class="fs-11">(با - جدا شود)</span></label>
                                <div class="app_input"
                                    [ngClass]="{'isInvalid':validateClass('keyWord' , firstFormGroup) && submitted_1}">
                                    <input type="text" class=" w-100" placeholder="" formControlName="keyWord"
                                        [required]="packageItem?.required?.requieredKeyWord"
                                        [readOnly]="packageItem.subject != null">
                                </div>
                                <label for="" class="text-dark">
                                    <i class="fa fa-star-of-life text-danger fs-8"
                                        *ngIf="packageItem?.required?.requieredSummary"></i>
                                    چکیده</label>
                                <div class="app_input"
                                    [ngClass]="{'isInvalid':validateClass('abstract' , firstFormGroup) && submitted_1}">
                                    <textarea type="text" class=" w-100" placeholder="" formControlName="abstract"
                                        style="background: transparent;border: 0;"
                                        [readOnly]="packageItem.subject != null"></textarea>
                                </div>
                            </div>
                            <div class="">
                                <label for="" class="text-dark">
                                    <i class="fa fa-star-of-life text-danger fs-8"
                                        *ngIf="packageItem?.required?.requieredAttachment"></i>
                                    عنوان فایل</label>
                                <div class="app_input mb-1 mt-1 h--35"
                                    [ngClass]="{'isInvalid':validateClass('imgtitle' , firstFormGroup) && submitted_1}">
                                    <input type="text" class="w-100" st placeholder="" formControlName="imgtitle"
                                        [readOnly]="packageItem.subject != null">
                                </div>
                                <input type="file" hidden (change)="getimageValue($event)" id="_input">
                                <button type="button" class="btn upload_btn fs-12" (click)="uploadimage()"
                                    [disabled]="packageItem.subject != null">
                                    <i class="fa fa-plus" style="margin-left: 3px;"></i>
                                    افزودن فایل
                                </button>
                            </div>
                            <div class="row mt-2 mb-2">
                                <div class="col-2" *ngFor="let item of uploadImages; let i=index">
                                    <div class="d-flex align-items-end" *ngIf="item.type.split('/')[0] === 'image'">
                                        <img [src]="item.url" alt="" width="25" height="25">
                                        <span>{{item?.name.split('.')[0].slice(0,8)}}</span>
                                    </div>
                                    <div class="d-flex align-items-end" *ngIf="item.type.split('/')[0] === 'audio'">
                                        <img [src]="'./assets/images/music-file.png'" alt="" width="25" height="25">
                                        <span>{{item?.name.split('.')[0].slice(0,8)}}</span>
                                    </div>
                                    <div class="d-flex align-items-end"
                                        *ngIf="item.type.split('/')[0] === 'application'">
                                        <img [src]="'./assets/images/pdf.png'" alt="" width="25" height="25">
                                        <span>{{item?.name.split('.')[0].slice(0,8)}}</span>
                                    </div>
                                    <div class="d-flex align-items-end" *ngIf="item.type.split('/')[0] === 'video'">
                                        <img [src]="'./assets/images/mp4.png'" alt="" width="25" height="25">
                                        <span>{{item?.name.split('.')[0].slice(0,8)}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <button mat-button mat-stroked-button color="warn" (click)="firstFormGroup.reset()"
                                type="button" class="fs-12 mt-2 w-100" [disabled]="packageItem.subject != null">پاک
                                کردن</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button mat-button matStepperNext type="button" class="app_btn fs-12 mt-2"
                                (click)="next($event ,0)">بعدی</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [editable]="true">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel><span class="mr-5">موضوعات مرتبط</span></ng-template>
                <section>
                    <div class="row w-100 m-0" style="border-radius: 3px;border: 1px solid #c4d9d8;">
                        <h2 class="text-dark border_bottom pb-2 " style="background: #eee;"> موضوعات مرتبط</h2>
                        <div class="row">
                            <alert type="warning" class="mt-2"
                                *ngIf="validateClass('selectedtopic' , secondFormGroup) && submitted_2">
                                موضوعی انتخاب نشده است !
                            </alert>

                            <div class="text-danger w-100 text-center"
                                *ngIf="topics?.length <=0 && packageItem?.lightTopics?.length <=0">
                                رکوردی وجود ندارد
                            </div>
                            <div class="col-12 col-md-6" *ngIf="packageItem?.required?.relatedTopicDecision === 2">
                                <app-packagetree [tree]="topics" [title]="''" [nonBorder]="true"
                                    (GETITEM)="GETITEM($event)" [chekboxmode]="true" [showaddIcon]="false"
                                    [topicmode]="true">
                                </app-packagetree>

                            </div>
                            <div class="col-12 col-md-6" *ngIf="(packageItem?.required?.relatedTopicDecision == 0 || packageItem?.required?.relatedTopicDecision == 1 ||
                               packageItem?.required?.relatedTopicDecision == null ) && packageItem.subject == null">
                                <div class="row">
                                    <div class="col-12" *ngFor="let select of packageItem.lightTopics">
                                        <mat-checkbox [value]="select.id" (change)="getlightTopicvalue($event , select)"
                                            [checked]="select.checked">{{select.title}}</mat-checkbox>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 col-md-6"
                                *ngIf="(topics?.length >0 || packageItem?.lightTopics?.length >0) && packageItem.subject != null">
                                <input hidden type="text" formControlName="selectedtopic">
                                <span>عنوان های انتخاب شده</span>
                                <div class="" *ngFor="let item of selectedtopics">
                                    {{item.title}}
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                    <div class="row w-100 m-0 align-items-center">
                        <div class="col-12 col-md-4">
                            <button mat-button mat-stroked-button color="warn" (click)="reset(secondFormGroup , 0)"
                                type="button" class="fs-12 mt-2 w-100" [disabled]="packageItem.subject != null">پاک
                                کردن</button>
                        </div>
                        <div class="col-12 col-md-4">
                            <button mat-stroked-button color="primary" mat-button matStepperPrevious type="button"
                                class="w-100 fs-12 mt-2">برگشت</button>
                        </div>
                        <div class="col-12 col-md-4">
                            <button mat-button matStepperNext type="button" class="app_btn fs-12 mt-2 w-100"
                                (click)="next($event ,1)">بعدی</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="thirdFormGroup" [editable]="true" *ngIf="packageItem?.has?.hasForm">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel><span class="mr-5">فرم ها</span></ng-template>
                <section>
                    <div class="row w-100 m-0" style="border-radius: 3px;border: 1px solid #c4d9d8;">
                        <h2 class="text-dark border_bottom pb-2 " style="background: #eee;"> فرم ها</h2>
                        <div class="container">
                            <div class="row" *ngFor="let item of packageItem.forms">
                                <app-multiplechoiceform *ngIf="item.type === 'multipleChoice'" [item]="item"
                                    (configuration)="configuration($event)" [closeMode]="true" #form
                                    [hidden]="packageItem.subject != null ? true : false"></app-multiplechoiceform>
                                <app-dateform *ngIf="item.type === 'DateField'" [item]="item" #form
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-dateform>
                                <app-titleform *ngIf="item.type === 'TitleField'" [item]="item"
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-titleform>
                                <app-numberform *ngIf="item.type === 'NumberField'" [item]="item" #form
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-numberform>
                                <app-describtionform *ngIf="item.type === 'DescribtionField'" [item]="item"
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-describtionform>
                                <app-singlechoiceform *ngIf="item.type === 'singleChoice'" [item]="item" #form
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-singlechoiceform>
                                <app-selectform *ngIf="item.type === 'selectField'" [item]="item" #form
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-selectform>
                                <app-longtextform *ngIf="item.type === 'longTextField'" [item]="item" #form
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-longtextform>
                                <app-editorform *ngIf="item.type === 'EditorField'" [item]="item"
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-editorform>
                                <app-formfield *ngIf="item.type === 'FormField'" [item]="item"
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-formfield>
                                <app-textform *ngIf="item.type === 'TextField'" [item]="item" #form
                                    (configuration)="configuration($event)" [closeMode]="true"
                                    [hidden]="packageItem.subject != null ? true : false"></app-textform>
                            </div>
                        </div>
                    </div>
                </section>
                <div>
                    <div class="row w-100 m-0 align-items-center">
                        <div class="col-12 col-md-6">
                            <button mat-stroked-button color="primary" mat-button matStepperPrevious type="button"
                                class="w-100 fs-12 mt-2">برگشت</button>
                        </div>
                        <div class="col-12 col-md-6">
                            <button mat-button matStepperNext type="button" class="app_btn fs-12 mt-2 w-100"
                                (click)="submitForm()">بعدی</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="forthFormGroup" [editable]="true" *ngIf="packageItem?.has?.hasEncyclopedia">
            <form [formGroup]="forthFormGroup">
                <ng-template matStepLabel><span class="mr-5"> دانشنامه</span></ng-template>
                <section>
                    <div class="row w-100 m-0" style="border-radius: 3px;border: 1px solid #c4d9d8;">
                        <h2 class="text-dark border_bottom pb-2 " style="background: #eee;"> دانشنامه</h2>
                        <ckeditor class="mb-2" dir="ltr" #editor [(ngModel)]="model.editorData"
                            [ngModelOptions]="{standalone: true}" [editor]="Editor" [data]="editorData"
                            (ngModelChange)="editonChange($event)" *ngIf="packageItem.subject == null">
                        </ckeditor>

                        <div class="" *ngIf="packageItem.subject != null" [innerHTML]="model.editorData"></div>


                    </div>
                </section>
                <div>
                    <div class="row w-100 m-0 align-items-center">
                        <div class="col-12 col-md-4">
                            <button mat-button mat-stroked-button color="warn" (click)="reset(forthFormGroup , 1)"
                                type="button" class="fs-12 mt-2 w-100" [disabled]="packageItem.subject != null">پاک
                                کردن</button>
                        </div>
                        <div class="col-12 col-md-4">
                            <button mat-stroked-button color="primary" mat-button matStepperPrevious type="button"
                                class="w-100 fs-12 mt-2">برگشت</button>
                        </div>
                        <div class="col-12 col-md-4">
                            <button mat-button matStepperNext type="button"
                                class="app_btn fs-12 mt-2 w-100">بعدی</button>
                        </div>
                    </div>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>ثبت و ارسال</ng-template>
            <alert type="info" class="mt-2">
                <strong>مرحله نهایی!</strong> برای ذخیره اطلاعات بر روی دکمه <span>{{!packageItem.editSubject ? 'ثبت' :
                    'ویرایش شخصی'}}</span> کلیک کنید
            </alert>
            <div class="row align-items-center">
                <div class="col-12 col-md-3" *ngIf="!packageItem.editSubject">
                    <button class="w-100 fs-12 topic_btn_success" mat-raised-button (click)="submitStatus(0 , template)"
                        [disabled]="!disabled">ارسال</button>
                </div>
                <div class="col-12 col-md-3 " *ngIf="!packageItem.editSubject">
                    <button mat-basic-button color="primary" mat-button type="button"
                        class="app_btn w-100 fs-12 text-white" (click)="submit()">
                        <span>
                            ثبت
                        </span>
                    </button>
                </div>
                <div class="col-12 col-md-3" *ngIf="packageItem.editSubject">
                    <button class="w-100 fs-12 topic_btn_success" mat-raised-button
                        (click)="submitStatus(1 , template)">تایید</button>
                </div>
                <div class="col-12 col-md-3" *ngIf="packageItem.editSubject">
                    <button class="w-100 fs-12 topic_btn_danger" mat-stroked-button color="warn"
                        (click)="submitStatus(2 , template)">لغو</button>
                </div>
            </div>
            <div>
                <div class="row w-100 m-0 align-items-center">

                    <div class="col-12 col-md-6">
                        <button mat-button mat-stroked-button color="warn" (click)="stepper.reset()" type="button"
                            class="fs-12 mt-2 w-100" [disabled]="packageItem.subject != null">پاک کردن</button>
                    </div>
                    <div class="col-12 col-md-6">
                        <button mat-stroked-button color="primary" mat-button matStepperPrevious type="button"
                            class="w-100 fs-12 mt-2">برگشت</button>
                    </div>
                </div>
            </div>
        </mat-step>
    </mat-stepper>

    <ng-template #template>
        <div class="modal-header">
            <h3 class="modal-title pull-left fw-bold">پرسش ها</h3>
        </div>
        <div class="modal-body">
            <div class="q_box" *ngFor="let item of questions; let i=index">
                <h4 class="mb-2 fw-bold">{{(i+1)+'.' + item.question}}</h4>
                <div class="app_input mb-1" *ngIf="item.type === 0">
                    <input type="number" min="0" max="100" class=" w-100" placeholder="" (change)="_getquestionvalue($event.target , item)">
                </div>
                <div class="_range" *ngIf="item.type === 1">
                    <input type="range" id="volume" name="volume" min="0" max="100" [value]="0" (change)="_getquestionvalue($event.target , item)" />
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="col-12">
                <button type="button" class="app_btn" (click)="questionSubmit()">ثبت</button>
                <button mat-stroked-button color="warn" class="w-100 fs-12" (click)="modalRef?.hide()">انصراف</button>
            </div>
        </div>
    </ng-template>