.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
.topic_btn_success {
  background: #e1ffcb !important;
  box-shadow: unset !important;
}
.topic_btn_danger {
  border: 1px solid #ffd0cd !important;
}
