<div class="container">
    <div class="contianer-fluid _box" style="background: #fff !important;min-height: 70vh;">
        <h3 class="border_bottom">{{_isEdit ? title.isEdit : title.add}}</h3>

        <form [formGroup]="appform" (submit)="submit(_isEdit)">
            <div class="row align-items-center">
                <div class="col-12 col-md-12 col-xl-6">
                    <label for="" class="text-dark">نام</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('firstname') && submitted}">
                        <input type="text" [formControlName]="'firstname'">
                    </div>
                    
                </div>
                <div class="col-12 col-md-12 col-xl-6">
                    <label for="" class="text-dark">نام خانوادگی</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('lastname') && submitted}">
                        <input type="text" [formControlName]="'lastname'">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xl-6">
                    <label for="" class="text-dark">شناسه کاربری</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('userName') && submitted}">
                        <input type="text" [formControlName]="'userName'">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xl-6">
                    <label for="" class="text-dark">ایمیل</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('email') && submitted}">
                        <input type="text" [formControlName]="'email'">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xl-6">
                    <label for="" class="text-dark">کد ملی</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('nationalCode') && submitted}">
                        <input maxlength="11" type="text" [formControlName]="'nationalCode'" onkeypress='return event.charCode >= 48 && event.charCode <= 57' 
                        (input)="isValidIranianNationalCode($event.target)">
                    </div>
                    <div class="text-danger fs-10" *ngIf="_nationalCode">
                        کد ملی اشتباه است
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xl-6">
                    <label for="" class="text-dark">شماره همراه</label>
                    <div class="app_input " [ngClass]="{'isInvalid':validateClass('phoneNumber') && submitted}">
                        <input type="text" [formControlName]="'phoneNumber'">
                    </div>

                    <div class="text-danger fs-10" *ngIf="validateClass('phoneNumber') && submitted">
                        شماره همراه اشتباه است
                    </div>

                </div>
                <div class="col-12 col-md-12 col-xl-6" *ngIf="!_isEdit">
                    <label for="" class="text-dark">کلمه عبور</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('password') && submitted}">
                        <input minlength="5" type="text" [formControlName]="'password'">
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xl-3">
                    <input #input class="w-100" type="file" hidden (change)="getimageValue($event)" id="_input">
                    <input type="text" hidden [formControlName]="'picture'">
                    <!-- <label for="" class="text-dark">تکرار کلمه عبور</label> -->
                    <button type="button" class="btn upload_btn fs-12 p-1 w--100 h--100" (click)="uploadimage(input)">
                        <div class="" *ngIf="!selectedImage">
                            <i class="fa fa-plus" style="margin-left: 3px;"></i>
                            افزودن تصویر
                        </div>

                        <div class="w-100 h-100" *ngIf="selectedImage">
                            <img *ngIf="selectedImage" [src]='selectedImage' class="w-100 h-100 _radus" width="30"
                                height="30">
                        </div>
                    </button>
                    <div class="text-danger fs-10" *ngIf="validateClass('picture')&& submitted">
                        تصویر را انتخاب کنید
                    </div>
                </div>
                <div class="col-12 col-md-12 col-xl-12">
                    <div class="row mt-3">
                        <div class="col-12 col-md-2">
                            <button type="submit" class="btn btn-success w-100 fs-12">ثبت</button>
                        </div>
                        <div class="col-12 col-md-2">
                            <button type="button" class="btn btn-light w-100 fs-12"
                                [routerLink]="'../users'">بازگشت</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>