<div class="container">
    <div class="row mb-2">
        <div class="col-12 text-left">
            <button mat-flat-button [routerLink]="'/search'" class="fs-12 mb-2">بازگشت</button>
        </div>
    </div>
</div>
<div class="container" *ngIf="subject != undefined ">
    <div class="row mb-2">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = false" (closed)="panelOpenState = true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 class="m-0 ">
                            <img src="./assets/images/subject/star.png" alt="" width="20" height="20">

                            جزئیات
                        </h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row align-items-center">
                    <div class="col-12 col-md-4">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2">
                                <img src="./assets/images/subject/draw.png" alt="" width="30" height="30">
                            </div>
                            <div class="col-12 col-md-10">
                                <h3 class="m-0 fw-bold">عنوان</h3>
                                <p>{{subject.title}}</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2">
                                <img src="./assets/images/subject/user.png" alt="" width="30" height="30">
                            </div>
                            <div class="col-12 col-md-10">
                                <h3 class="m-0 fw-bold">ثبت کننده</h3>
                                <p>{{subject.creatorUserId !=null ? subject.creatorUserId : '-'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2">
                                <img src="./assets/images/subject/clock.png" alt="" width="30" height="30">
                            </div>
                            <div class="col-12 col-md-10">
                                <h3 class="m-0 fw-bold">تاریخ</h3>
                                <p>{{subject.creationTime | jalali_date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2">
                                <img src="./assets/images/subject/key.png" alt="" width="30" height="30">
                            </div>
                            <div class="col-12 col-md-10">
                                <h3 class="m-0 fw-bold">کلمات کلیدی</h3>
                                <p>{{subject.keyWord != '' ? subject.keyWord : '-'}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2">
                                <img src="./assets/images/subject/folder.png" alt="" width="30" height="30">
                            </div>
                            <div class="col-12 col-md-10">
                                <h3 class="m-0 fw-bold">پیوست</h3>
                                <div class="row">
                                    <div class="col-12 col-xl-4" *ngFor="let item of subject.fileItems">
                                        <button class="d-flex align-items-center fs-10 border-0 mb-1" (click)="_download(item)">
                                            <i class="fas fa-cloud-download-alt ml-5 fs-14"></i>
                                            دانلود فایل
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-2">
                                <img src="./assets/images/subject/share.png" alt="" width="30" height="30">
                            </div>
                            <div class="col-12 col-md-10">
                                <h3 class="m-0 fw-bold">موضوعات مرتبط</h3>
                                <div class="row align-items-center">
                                    <div class="col-12 col-md-3" *ngFor="let item of subject.topics;let i=index">
                                        <p>
                                            {{item.title}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-12">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-1 ">
                                <img src="./assets/images/subject/planner.png" alt="" width="30" height="30">
                            </div>
                            <div class="col-12 col-md-11 p-0">
                                <h3 class="m-0 fw-bold">چکیده</h3>
                                <p>{{subject.abstract}}</p>
                            </div>
                        </div>
                    </div> -->
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

    <div class="row mb-2">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 class="m-0">
                            <img src="./assets/images/subject/planner.png" alt="" width="20" height="20"
                                style="filter: invert(62%) sepia(60%) saturate(871%) hue-rotate(338deg) brightness(101%) contrast(103%)">

                            چکیده
                        </h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="" [innerHTML]="subject.abstract"></div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row mb-2">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 class="m-0">
                            <img src="./assets/images/subject/book.png" alt="" width="20" height="20">

                            دانشنامه
                        </h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="" [innerHTML]="subject.encyclopedia"></div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <div class="row mb-2">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 class="m-0">
                            <img src="./assets/images/subject/list.png" alt="" width="20" height="20">
                            فرم
                        </h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row" *ngFor="let item of this.formsItems">
                    <app-multiplechoiceform *ngIf="item.type === 'multipleChoice'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-multiplechoiceform>
                    <app-dateform *ngIf="item.type === 'DateField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-dateform>
                    <app-titleform *ngIf="item.type === 'TitleField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-titleform>
                    <app-numberform *ngIf="item.type === 'NumberField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-numberform>
                    <app-describtionform *ngIf="item.type === 'DescribtionField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-describtionform>
                    <app-singlechoiceform *ngIf="item.type === 'singleChoice'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-singlechoiceform>
                    <app-selectform *ngIf="item.type === 'selectField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-selectform>
                    <app-longtextform *ngIf="item.type === 'longTextField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-longtextform>
                    <app-editorform *ngIf="item.type === 'EditorField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-editorform>
                    <app-formfield *ngIf="item.type === 'FormField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-formfield>
                    <app-textform *ngIf="item.type === 'TextField'" [item]="item" [closeMode]="true"
                        [hidden]="true"></app-textform>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>