<div class="modal-header">
  <h4 class="modal-title pull-left m-0 fw-bold">{{TopicpermissionModal ? 'حیطه بندی' :title}}</h4>
</div>
<div class="modal-body" *ngIf="!TopicpermissionModal">

  <div class="">
    <div class="row w-100 m-0">
      <label for="" class="p-0">
        <i class="fa fa-users"></i>
        اعضا
      </label>
      <ng-select class=" w-100  p-0  app_input" [items]="list.users" [multiple]="true" [closeOnSelect]="false" [searchable]="true" bindLabel="username"
        bindValue="id" placeholder="اعضا" (change)="selectedUsers($event , 0)" [(ngModel)]="memberselected">
        <ng-template ng-option-tmp let-item="item" let-index="index">
          <img height="25" width="25" [src]="item.picture" class="round"/>
          <b>{{item.username}}</b>
      </ng-template>
      </ng-select>
    </div>
    <div class="row w-100 m-0">
      <label for="" class="p-0">
        <i class="fa fa-users-medical"></i>
        خبره ها
      </label>
      <ng-select class=" w-100 p-0   app_input" [items]="list.users" [multiple]="true" [closeOnSelect]="false" [searchable]="true" bindLabel="username"
      bindValue="id" placeholder="خبره ها" (change)="selectedUsers($event , 2)" [(ngModel)]="expertselected">
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="25" width="25" [src]="item.picture" class="round"/>
        <b>{{item.username}}</b>
    </ng-template>
    </ng-select>
    </div>
    <div class="row w-100 m-0">
      <label for="" class="p-0">
        <i class="fa fa-users-cog"></i>
        مدیر ها
      </label>
      <ng-select class=" w-100 p-0   app_input" [items]="list.users" [multiple]="true" [closeOnSelect]="false" [searchable]="true" bindLabel="username"
      bindValue="id" placeholder="مدیر ها" (change)="selectedUsers($event , 1)" [(ngModel)]="managerselected">
      <ng-template ng-option-tmp let-item="item" let-index="index">
        <img height="25" width="25" [src]="item.picture" class="round"/>
        <b>{{item.username}}</b>
    </ng-template>
    </ng-select>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 m-auto">
        <button type="button" class="app_btn" (click)="openTopicpermissionModal()">حیطه بندی</button>
      </div>
    </div>
  </div>
</div>
<div class="modal-body" *ngIf="TopicpermissionModal">
  <div class="row align-items-center _appbox p-1">
    <span class="mb-3">کدام یک از مجوز های زیر به صورت پیش فرض به همه کاربران اعطا شود :</span>
    <div class="col-12 col-md-4">
      <div class="mb-2">
        <input type="checkbox" style="width: fit-content;" [(ngModel)]="updateTopicsetting.entity.defualtView" >
        <span>مشاهده</span>
      </div>
   
    </div>
    <div class="col-12 col-md-4">
      <div class="mb-2">
        <input type="checkbox" style="width: fit-content;" [(ngModel)]="updateTopicsetting.entity.defualtSummaryView" >
        <span>مشاهده چکیده</span>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="mb-2">
        <input type="checkbox" style="width: fit-content;" [(ngModel)]="updateTopicsetting.entity.defualtDownloadView" >
        <span>دانلود</span>
      </div>
   
    </div>
    <div class="col-12 col-md-4">
      <div class="mb-2">
        <input type="checkbox" style="width: fit-content;" [(ngModel)]="updateTopicsetting.entity.allExpertsApprove" >
        <span>نیازمند تایید تمام خبرگان</span>
      </div>
 
    </div>
    <div class="col-12 col-md-4">
      <div class="mb-2">
        <input type="checkbox" style="width: fit-content;" [(ngModel)]="updateTopicsetting.entity.allMembersApprove" >
        <span>نیازمند تایید تمام اعضا</span>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="mb-2">
        <input type="checkbox" style="width: fit-content;" [(ngModel)]="updateTopicsetting.entity.allAdminsApprove" >
        <span>نیازمند تایید تمام مهندسان دانش</span>
      </div>

    </div>
    <div class="col-12 col-md-12 ">
      <button type="button" mat-raised-button color="success" class="fs-11 w-100 mt-3" (click)="updateTopicSetting()">ذخیره</button>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="text-center text-danger" *ngIf="TopicUserPermissions.length <=0">رکوردی وجود ندارد</div>
      <div class="table-responsive-sm" *ngIf="TopicUserPermissions.length>0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">مشاهده</th>
                    <th scope="col">ویرایش</th>
                    <th scope="col">حذف</th>
                    <th scope="col">مشاهده چکیده</th>
                    <th scope="col">دانلود</th>
                    <th scope="col">ویرایش</th>
                    <th scope="col">حدف</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of TopicUserPermissions; let i=index">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.includedCondtions.hasView ? 'دارد' : 'ندارد'}}</td>
                    <td>{{item.includedCondtions.hasEdit? 'دارد' : 'ندارد'}}</td>
                    <td>{{item.includedCondtions.hasDelete  ? 'دارد' : 'ندارد'}}</td>
                    <td>{{item.includedCondtions.hasSummaryView ? 'دارد' : 'ندارد'}}</td>
                    <td>{{item.includedCondtions.hasDownload ? 'دارد' : 'ندارد'}}</td>
                    <td >
                      <div class="" (click)="update(item)">
                        <i class="fa fa-edit pointer"  ></i>
                      </div>
                  </td>
                  <td>
                    <div class="" (click)="remove(item)">
                      <i class="fa fa-trash pointer"></i>
                    </div>
                  </td>  
                </tr>
            </tbody>
        </table>
    </div>
    </div>

  </div>

  <div class="row w-100 m-0">
    <label for="" class="p-0">
      نوع
    </label>
    <ng-select class=" w-100  p-0  app_input" 
    [items]="types" [multiple]="false" 
    [(ngModel)]="updateUserPermmisiontype.entity.type"
    [closeOnSelect]="true" 
    [clearable]="false" 
    [searchable]="false" 
    bindLabel="name"
    bindValue="id" placeholder="نوع" (change)="selectedUsertype($event , 0)">
    </ng-select>

    <div class="p-0" *ngIf="show">
      <label for="" class="p-0" *ngIf="updateUserPermmisiontype.entity.type === 0">
        انتخاب اعضا
      </label>
      <label for="" class="p-0" *ngIf="updateUserPermmisiontype.entity.type === 1">
        انتخاب گروه 
      </label>
      <ng-select class=" w-100  p-0  app_input" [items]="list.users" [multiple]="true" 
      [closeOnSelect]="false" [searchable]="true" bindLabel="username"  [(ngModel)]="updateUserPermmisiontype.entity.topicMembers"
      bindValue="id" placeholder="اعضا" (change)="selectedUsertype($event , 1)" *ngIf="updateUserPermmisiontype.entity.type === 0">
    </ng-select>
    <ng-select class=" w-100  p-0  app_input" 
    [items]="list.roles" [multiple]="true" 
    [closeOnSelect]="false" [searchable]="true" bindLabel="name" [(ngModel)]="selectedgroup"
    bindValue="id" placeholder="گروه" (change)="selectedUsertype($event , 1)" *ngIf="updateUserPermmisiontype.entity.type === 1" >
  </ng-select>
    </div>
  </div>
  <div class="row align-items-center" *ngFor="let item of topicUserPermmisiontypelist ; let i = index">
    <div class="col-6">
      <input [checked]="item.ischecked" type="checkbox" style="width: fit-content;" [value]="item.value" (change)="getvalue($event, i , item)">
      <span>{{item.title}}</span>
    </div>
    <div class="col-6">
      <label for="">تاریخ انقضا</label>
      <ngx-jdatepicker
      class="app_input"
      dir="rtl"
      [(ngModel)]="item.date"
      [ngModelOptions]="{standalone: true}"
      theme="dp-material"
      [disabled]="item.isdisabled"
      (onChange)="DATE_VALUE($event , item.value)" 
      >
    </ngx-jdatepicker>
    </div>
  </div>
</div>
<div class="modal-footer">
  <div class="col-12">
    <button type="button" class="app_btn" (click)="submit(TopicpermissionModal)">ثبت</button>
    
    <button mat-stroked-button color="warn" class="w-100 fs-12" (click)="bsModalRef.hide()">انصراف</button>
  </div>
</div>