<div class="container-fluid" id="acountcontianer">
    <div class="container height_100vh">
        <div class="row h-100 align-items-center justify-content-center ">
            <div class="col-12 col-md-6 text-center bg-white p-3 box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmiqR_gB1aE6SmGpJvgdi6j6MZYtLpcSittA&usqp=CAU" alt="" 
                width="100" height="100" class="mb-3"
                >
                <h2 *ngIf="true">سامانه مدیریت یکپارچه دانشی
                </h2>
    
                <form [formGroup]="appform" (submit)="submit()">
                    <div class="row">
                        <div class="col-12">
                            <div class="app_input">
                                <i class="fa fa-user"></i>
                                <input type="text" class=" w-100" placeholder="نام کاربری" [formControlName]="'userName'">
                            </div>
             
                        </div>
                        <div class="col-12">
                            <button class="app_btn">ثبت</button>
                        </div>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
</div>