<div class="container-fluid position-relative" id="wrapper">
    <div class="container">
        <app-header></app-header>
        <app-breadcrumb></app-breadcrumb>
        <router-outlet></router-outlet>
    </div>

    <div class="chat position-fixed">
        <img class="pointer" *ngIf="!display" src="./assets/images/chat.png" alt="" width="55" height="55" (click)="chatDisplay()">
        <app-chat *ngIf="display" (CLOSE)="close($event)" ></app-chat>
    </div>

    <div  class="position-fixed multi_themes" *ngIf="!display">
        <div  class="themes"  style="width: 48px; opacity: 0;" [@pallete]="isVissible ? 'vissible' : 'hidden'">
            <span *ngFor="let item of colors" class="color pointer" [ngStyle]="{'background': item.color}"
            (click)="onThemeSwitchChange(item)"
            >
            </span>
        </div>
            <button  class="bg-white mt-2 m_btn">
        <img  src="./assets/images/color.png" width="35" height="35" alt="" (click)="togglepallete()"></button>
    </div>
</div>

