.chat{
    bottom: 15px;
    right: 22px;

}

.multi_themes{
    bottom: 90px;
    right: 22px;
    text-align: right;
}

.m_btn{
    border: 1px solid #fff!important;
    border-radius: 6px;
    padding: 6px;
}

.themes{
    background: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    .color{
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid #fff;
        margin: 0 3px;
    }
}

