.chatBox{
    margin-bottom: 1.2em;
    max-width: 45%;
    width: fit-content;
    background: #f6f6f6;
    padding: 0.2em 0.4em;
    border-radius: 4px;
    font-size: 12px;
    box-shadow: 0px 2px 4px #c8c8c8;
}