<div *ngFor="let item of msgs">
    <div class="row pe-3 ps-3" [ngStyle]="{'justify-content':item.senderId === user.userId ? 'start' : 'end' }">
        <div class="chatBox">
            <div class="d-flex align-items-center mb-1">
                <img src="./assets/images/user.png" alt="" class="w--20 h--20 ml-5"
                    [ngStyle]="{'display':item.senderId === user.userId ? 'none' : 'flex' }">
                <span class="mr-5 fs-9">{{item.senderName}}</span>
            </div>
            <p class="m-0" *ngIf="!item.hasFile">
                {{item.text}}
            </p>
            <div class="" *ngIf="item.hasFile">
                <div class="video" *ngIf="item.fileType === 2">
                    <video class="h--100 w--135" controls >
                        <source [src]="'http://188.121.109.156:5036/uploadTemp/'+ item.filePath">
                    </video>
                </div>
                <div class="pointer image" *ngIf="item.fileType === 3" (click)="_download(item)">
                    <img [src]="picture" alt=""  width="130" height="100">
                </div>

                <div class="audio" *ngIf="item.fileType === 1">
                    <audio controls class="h--30 w--135">
                        <source [src]="'http://188.121.109.156:5036/uploadTemp/'+ item.filePath" type="audio/mpeg">
                    </audio>
                </div>
                <div class="_file" *ngIf="item.fileType === 4">
                    <button class="border-0 p-1 fs-12 fw-bold" style="border-radius: 6px;" (click)="_download(item)">
                        <img src="./assets/images/folder.png" alt="" width="30" height="30">
                        دانلود فایل
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>