<div class="_box" *ngFor="let postItem of postslist; let postItemindex=index">
    <div class="_header">
        <div class="row align-items-center">
            <div class="col-2 col-xl-1">
                <img [src]='postItem?.picture !=null && postItem?.picture !="" ? postItem?.picture : "./assets/images/user.png"'
                    alt="" width="50" height="50">
            </div>
            <div class="col-10 col-xl-10 text-dark fs-14 mr-5">
                <div class="fw-bold">{{postItem.creatorUserName}}</div>
                <div class="fs-12">{{postItem.creationTime | jalali}}</div>
            </div>
        </div>
    </div>
    <div class="_body mt-3">
        <div class="d-flex align-items-center justify-content-center p-2">
            <video width="100%" height="300" controls="" *ngIf="postItem.fileType === 2">
                <source [src]="'http://188.121.109.156:5036/uploadTemp/'+ postItem.fileName" type="video/mp4">
            </video>
            <audio controls *ngIf="postItem.fileType === 1" class="w-100">
                <source [src]="'http://188.121.109.156:5036/uploadTemp/'+ postItem.fileName" type="audio/ogg">
                <source [src]="'http://188.121.109.156:5036/uploadTemp/'+ postItem.fileName" type="audio/mpeg">
            </audio>
            <img *ngIf="postItem.fileType === 3" [src]="'http://188.121.109.156:5036/uploadTemp/' + postItem.fileName"
                alt="" class="m-auto w-100" height="200" style="border-radius: 6px;">
        </div>
        <div class="_file" *ngIf="postItem.fileType === 4">
            <button class="border-0 p-1 fs-12 fw-bold" style="border-radius: 6px;" (click)="_download(postItem)">
                <img src="./assets/images/folder.png" alt="" width="30" height="30">
                دانلود فایل
            </button>
        </div>
        <h3 class="text-dark fw-bold">{{postItem.title}}</h3>
        <div class="text-dark">
            <p class="pstContent" [outerHTML]="postItem.postContent">
            </p>
        </div>
    </div>
    <div class=" _tools text-left text-dark d-flex align-items-center justify-content-end border_bottom">
        <!-- <div class="pointer" style="margin-left: 1em;">ویرایش</div> -->
        <div class="pointer display_comment" style="margin-left: 1em;"
            (click)="toggleComments(postItem , postItemindex)">
            <i class="fa fs-10" [ngClass]="postItem.isOpen ?  'fa-eye-slash' : 'fa-eye'"></i>
            <span class="fs-10">
                {{postItem.isOpen ? 'مخفی کردن نظرات' :'نمایش نظرات' }}
            </span>
        </div>
        <!-- <div class="pointer" style="margin-left: 1em;" >حذف</div> -->
        <!-- <div>به اشتراک گذاری</div>-->
        <div class="fs-10">
            <span class="pointer" style="margin-left: 10px;"
                (click)="interactionPost(postItem , 0 , postItem.interactions?.plus.action)">
                ({{postItem.interactions?.plus.plus.length > 0 ? postItem.interactions?.plus.plus.length : 0}})
                <i class="fas fa-thumbs-up"
                    [ngClass]="postItem.interactions?.plus.action? 'text-danger' : 'text-dark'"></i>
            </span>
            <span class="pointer" (click)="interactionPost(postItem , 1 , postItem.interactions?.minus.action)">
                ({{postItem.interactions?.minus.minus.length > 0 ? postItem.interactions?.minus.minus.length : 0}})
                <i class="fas fa-thumbs-down"
                    [ngClass]="postItem.interactions?.minus.action? 'text-danger' : 'text-dark'"></i>
            </span>
        </div>
    </div>
    <h3 class="text-dark fw-bold" *ngIf="postItem.comments?.length > 0">نظرات</h3>
    <div class="_comments text-dark mb-2" *ngFor="let comment of postItem.comments; let commentindex=index">
        <div class="row align-items-center w-100 m-auto">
            <div class="col-12">
                <div class="col-12 col-xl-12">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                            <img [src]='comment?.picture !=null && comment?.picture !="" ? comment?.picture : "./assets/images/user.png"'
                                alt="" width="30" height="30" class="app_img">
                            <div class="d-flex flex-column">
                                <span
                                    style="margin-right: 5px;font-size: 12px;font-weight: 700;">{{comment.userName}}</span>
                                <span style="margin-right: 5px;font-size: 11px;">{{comment.createOn | jalali}}</span>
                            </div>
                        </div>

                        <div class="pointer" (click)="remove(comment , postItemindex )">
                            <i class="fa fa-trash text-danger"></i>
                        </div>
                    </div>
                </div>
                <div class="co-12 mt-2">{{comment.comment}}</div>
            </div>
        </div>
    </div>
    <form [formGroup]="appform" (submit)="submit(postItem.id , postItemindex)" *ngIf="postItem.isOpen">
        <div class="row align-items-center border_bottom w-100 m-0">
            <div class="col-10">
                <div class="app_input" style="padding: 0.5em 0;margin: 0;">
                    <input type="text" class="w-100 " placeholder="نظر خود را بنویسید..." [formControlName]="'comment'">
                </div>
            </div>
            <div class="col-2">
                <button type="submit" class="app_btn fs-10">ارسال</button>
            </div>
        </div>
    </form>
</div>