
<div class="_box" [ngClass]="{'border-0': !nonBorder}">
    <h3 class="text-dark fw-bold">{{title}}</h3>
    <accordion  [isAnimated]="true" [closeOthers]="false">
        <accordion-group (isOpenChange)="ToggleItem(baseParent)" >
            <span accordion-heading  class="pointer fs-14 fw-bold">
                <i class="fa fs-14"  [ngClass]="baseParent.isOpen ? 'fa-caret-down' : 'fa-caret-left'" ></i>
                {{!topicmode ? 'بسته ها' :'موضوعات'}}
                <span (click)="ADD_PACKAGE(baseParent)" *ngIf="showaddIcon">
                    <i class="fa fa-plus fs-13 text-dark" style="margin-left: 5px;"></i>
                </span>
            </span>
            <app-accordion [menu_Items]="tree?.tree" (GETITEM)="GET_ITEM($event)" [topicmode]="topicmode" [toolbar]="toolbar" [chekboxmode]="chekboxmode"></app-accordion>
        </accordion-group>
    </accordion>
</div>


