<form [formGroup]="appform">
<div class="row">
        <div class="col-12 col-md-6">
            <label for="">تاریخ تولد از</label>
            <input type="text" [formControlName]="'birthFrom'" hidden>
            <ngx-jdatepicker class="app_input" dir="rtl" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedDate.birthFrom" theme="dp-material" placeholder="__/_/_">
            </ngx-jdatepicker>
        </div>
        <div class="col-12 col-md-6">
            <label for="">تاریخ تولد تا</label>
            <input type="text" [formControlName]="'birthTo'" hidden>
            <ngx-jdatepicker class="app_input" dir="rtl" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedDate.birthTo" theme="dp-material" placeholder="__/_/_">
            </ngx-jdatepicker>
        </div>
        <div class="col-12 col-md-6">
            <label for="">تاریخ ایجاد از</label>
            <input type="text" [formControlName]="'createFrom'" hidden>
            <ngx-jdatepicker class="app_input" dir="rtl" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedDate.createFrom" theme="dp-material" placeholder="__/_/_">
            </ngx-jdatepicker>
        </div>
        <div class="col-12 col-md-6">
            <label for="">تاریخ تولد تا</label>
            <input type="text" [formControlName]="'createTo'" hidden>
            <ngx-jdatepicker class="app_input" dir="rtl" [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedDate.createTo" theme="dp-material" placeholder="__/_/_">
            </ngx-jdatepicker>
        </div>

    <div class="col-12 col-md-12 col-xl-3">
        <button  type="button" class="btn btn-primary ml-5 fs-12 w-100" (click)="submit()">
            گزارش
        </button>
    </div>
    <div class="col-12" *ngIf="reports.length > 0">
        <div class="table-responsive-sm mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">نام</th>
                        <th scope="col">نام کاربری</th>
                        <th scope="col">تاریخ تولد</th>
                        <th scope="col">عنوان شغلی</th>
                        <th scope="col">تاریخ ایجاد</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of reports; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.birthDate | jalali_date}}</td>
                        <td>{{item.job}}</td>
                        <td>{{item.created | jalali_date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</form>
