<div class="container">
    <div class="contianer-fluid">

        <div class="row">
            <div class="col-12 col-md-12 col-lg-3">
                <div class="_box" style="background: #fff !important;min-height: 0;">
                    <div class="row w-100 align-items-center justify-content-around">
                        <div class="col-12 col-md-12 text-center" [routerLink]="'/profile'">
                            <img [src]='profileInfo?.picture !=null && profileInfo?.picture !="" ? "http://188.121.109.156:5036/uploadTemp/" + profileInfo?.picture : "./assets/images/user.png"'
                                alt="" width="60" height="60" style="border-radius: 50%;" class="pointer">

                        </div>
                        <div class="col-12 col-md-12 mt-2 text-center">
                            <strong>
                                <div class="fs-14">{{profileInfo?.firstname + ' ' + profileInfo?.lastname}} </div>
                            </strong>
                            <span>{{profileInfo?.email}}</span>
                        </div>

                <div class="col-12 mt-3" style="line-height: 3;">
                 <div class="row w-100">
                  <div class="col-6  col-md-4 col-lg-12">
                    <div class="fs-14 pointer" [routerLink]="'/editprofile'">
                        <i class="fa fa-user"></i>
                        اطلاعات شخصی
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-12">
                    <div class="fs-14 pointer" [routerLink]="'/editprofile/profileAward'">
                        <i class="fa fa-trophy"></i>
                        جوایز و افتخارات
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-12">
                    <div class="fs-14 pointer" [routerLink]="'/editprofile/profileLanguage'">
                        <i class="far fa-language"></i>
                        زبان های خارجه
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-12">
                    <div class="fs-14 pointer" [routerLink]="'/editprofile/profileJob'">
                        <i class="fas fa-wrench"></i>
                        پیشینه شغلی
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-12">
                    <div class="fs-14 pointer" [routerLink]="'/editprofile/profileEducation'">
                        <i class="fas fa-user-graduate"></i>
                        پیشینه آموزشی
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-12">
                    <div class="fs-14 pointer" [routerLink]="'/editprofile/profileCertificate'">
                        <i class="fas fa-users-class"></i>
                        دوره های آموزشی
                    </div>
                  </div>
                  <div class="col-6 col-md-4 col-lg-12">
                    <div class="fs-14 pointer" [routerLink]="'/editprofile/changepassword'">
                        <i class="fas fa-unlock-alt"></i>
                        تغییر کلمه عبور
                    </div>
                  </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-9">
                <div class="_box" style="background: #fff !important;min-height: 0;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>