<div class="col-12">
    <div class="search h--35">
        <input class="h-100" type="text" placeholder="جستجو..." (input)="search($event.target)">
        <i class="fa fa-search"></i>
    </div>
</div>