.search{
    background: #f6f6f6;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 6px;
    i{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0 , -50%);
        color: #ccc;
    }
}
