<div class="modal-header">
    <h4 class="modal-title pull-left m-0 fw-bold">رابطه های کاندید</h4>
    <!-- <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button> -->
  </div>
  <div class="modal-body" id="#wrapper">

<div class="row" >
    <div class="col-4">
      <app-packagetree [tree]="packages" [showaddIcon]="false" [toolbar]="false" [topicmode]="false" (GETITEM)="getItem($event)"></app-packagetree>
    </div>
    <div class="col-4">
        <app-packagetree [tree]="topics" [showaddIcon]="false" [toolbar]="false" [topicmode]="true" [chekboxmode]="true" (GETITEM)="gettopicItem($event)"></app-packagetree>
    </div>
    <div class="col-4">
            <input hidden type="text">
            <span>عنوان های انتخاب شده</span>
            <div class="" *ngFor="let item of selectedtopics">
                {{item.title}}
            </div>
    </div>
</div>
  
  </div>
  <div class="modal-body">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <button type="button" class="app_btn" (click)="submit()">ثبت</button>
        </div>
        <div class="col-12 col-md-6">
            <button mat-stroked-button color="warn" class="w-100 fs-12" (click)="bsModalRef.hide()">انصراف</button>

        </div>
    </div>

  </div>