<div class="container-fluid">
    <div class="row">
        <div class="table-responsive-sm  p-0" >
            <table class="table table-striped " style="min-height: 15vh;">
                <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">مخاطب</th>
                        <th scope="col">پرسش</th>
                        <th scope="col">نوع</th>
                        <th scope="col">اولویت</th>
                        <th scope="col">ویرایش</th>
                        <th scope="col">حذف</th>
                    </tr>
                </thead>
                <tbody class="position-relative">
                    <div class="text-danger" style="position: absolute;
                    right: 50%;
                    top: 50%;
                    transform: translate(50%, 25%);" *ngIf="questions.length <=0">
                        رکوردی وجود ندارد
                    </div>
                    <tr *ngFor="let item of questions; let i=index">
                        <th scope="row">{{i+1}}</th>
                        
                        <td>
                            <span *ngIf="item.contact === null">...</span>
                            <span *ngIf="item.contact === 0">عمومی</span>
                            <span *ngIf="item.contact === 1">اعضا</span>
                            <span *ngIf="item.contact === 2">خبره ها</span>
                        </td>
                        <td>
                            {{item.question}}
                        </td>
                        <td>
                            <span *ngIf="item.type === null">...</span>
                            <span *ngIf="item.type === 0">تشریحی</span>
                            <span *ngIf="item.type === 1">امتیازی</span>
                        </td>
                        <td>
                            {{item.priority}}
                        </td>
                        <td >
                            <i class="fa fa-edit pointer" (click)="update(item)" ></i>
    
                        </td>
                        <td>
                            <i class="fa fa-trash pointer" (click)="remove(item)"></i>
    
                        </td>     
                    
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form [formGroup]="appform" (submit)="submit()">
            <div class="row p-2 border _radus mt-3" style="background: #e4e4e41c;">
            <div class="col-12 col-md-6">
                <label for="" class="text-dark"> مخاطب</label>
                <select class="app_input w-100" [formControlName]="'contact'">
                    <option *ngFor="let option of contact" [value]="option.id">
                        {{option.name}}
                    </option>
                </select>
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="text-dark"> نوع</label>
                <select class="app_input w-100" [formControlName]="'type'">
                    <option *ngFor="let option of type" [value]="option.id">
                        {{option.name}}
                    </option>
                </select>
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="text-dark"> پرسش</label>
                <div class="app_input">
                    <input type="text" [formControlName]="'question'" >
                </div>
            </div>
            <div class="col-12 col-md-6">
                <label for="" class="text-dark"> الویت</label>
                <div class="app_input">
                    <input type="number" [formControlName]="'priority'" >
                </div>

            </div>
            <div class="col-12">
                <button type="submit" class="app_btn">ثبت</button>
                <button mat-stroked-button color="warn" class="w-100 fs-12" (click)="close()">انصراف</button>
            </div>
        </div>
    </form>
</div>
