<div class="_box" >
    <div class="row mt-3" *ngIf="getUrl('/report')">
        <div class="col-12 col-md-6">
            <div class="pointer" [routerLink]="'/report/users'">
                <img src="./assets/images/report/1.png" alt="" width="50" height="50">
                <strong>
                گزارش کاربران
                </strong>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="pointer" [routerLink]="'/report/topics'">
                <img src="./assets/images/report/2.png" alt="" width="50" height="50">
                <strong>
                گزارش موضوعات
                </strong>
            </div>

        </div>
    </div>

    <div class="row" *ngIf="!getUrl('/report')">
        <h4 class="fw-bold border_b_gray pb-2">{{title}}</h4>
        <router-outlet></router-outlet>
    </div>
</div>


