<accordion *ngIf="menu_Items?.length > 0" [isAnimated]="true" [closeOthers]="false">
    <accordion-group #group *ngFor="let item of menu_Items; let i=index" [isDisabled]="item?.childs?.length==0"
        (isOpenChange)="ToggleItem(item)">
        <div accordion-heading class="pointer d-flex align-items-center accordion_header" (mouseenter)="hover($event , item ,0)"
            (mouseleave)="hover($event , item,1)">
            <i class="fa fs-16 ml-5" [ngClass]="item.isOpen ? 'fa-caret-down' : 'fa-caret-left'"
                *ngIf="item?.childs?.length > 0 && menu_Items?.length>0 "></i>
            <mat-checkbox (change)="getItemvalue($event , item)" *ngIf="chekboxmode" [checked]="item.checked">
            </mat-checkbox>
            <strong *ngIf="!item.isEdit" class="position-relative text-dark w--110 fs-10"  (click)="getItem(item)">
                {{item.title.length > 15 ? item.title.slice(0,15) + '...' : item.title}}
            </strong>
            <input style="border: 1px solid #acacac;border-radius: 3px;width: 50%;" type="text"
                (change)="getEditedvalue($event)" *ngIf="item.isEdit" (focusout)="focusOut($event , item)">
            <span *ngIf="item.showTools && toolbar" class="mr-5" >
                <i class="fa fa-plus-circle fs-14 text-success ml-5" (click)="addpackage(item)" *ngxPermissionsOnly="['Permissions.Packages.Create']"></i>
                <i class="fa fa-edit fs-14 text-warning ml-5" (click)="editpackage(item)" *ngxPermissionsOnly="['Permissions.Packages.Edit']"></i>
                <i class="fa fa-trash fs-14 text-danger" (click)="removepackage(item)" *ngxPermissionsOnly="['Permissions.Packages.Delete']"></i>
            </span>
        </div>
        <app-accordion [menu_Items]="item.childs" [topicmode]="topicmode" (GETITEM)="getchildsItem($event)"
            (ADD_PACKAGE)="addpackage($event)" [toolbar]="toolbar" [chekboxmode]="chekboxmode"></app-accordion>
    </accordion-group>
</accordion>