<div class="row">
    <form action="" [formGroup]="appform" (submit)="submit()">
    <div class="">
        <div class="app_input">
            <input type="text" placeholder="جستجو کنید..." formControlName="query">
        </div>

            <section class="example-section" >
                <div class="row">
                <h4>گزینه های انتخابی برای جستجو : </h4>
                <div class="col-12 col-md-4">
                    <p><mat-checkbox formControlName="member">عضو</mat-checkbox></p>
                </div>
                <div class="col-12 col-md-4">
                    <p><mat-checkbox formControlName="expert" > خبره</mat-checkbox></p>
                </div>
                <div class="col-12 col-md-4">
                    <p><mat-checkbox formControlName="registarer">ثبت کننده </mat-checkbox></p>
                </div>  
             
                <div class="col-12 col-md-4">
                    <p><mat-checkbox formControlName="resume">رزومه</mat-checkbox></p>
                </div>
                <div class="col-12 col-md-4">
                    <p><mat-checkbox formControlName="city">شهر</mat-checkbox></p>
                </div>  
                <div class="col-12 col-md-4">
                    <p><mat-checkbox formControlName="job"> شغل</mat-checkbox></p>
                </div>  

            </div>
        </section>
        <div class="col-12 col-md-12 col-xl-3">
            <button  type="submit" class="btn btn-primary ml-5 fs-12 w-100">
                <i class="fa fa-search"></i>
                جستجو
            </button>
        </div>
    </div>
        </form>
        <div class="container mt-2" *ngIf="searches.length > 0">
            <h4> (<span>{{pages}}</span> مورد) یافت شده</h4>
            
            <mat-card class="mb-2 pointer" *ngFor="let item of searches;let i=index" (click)="navigateTo(item)">
                    <div class="row align-items-center">
                        <div class="col-12 col-md-12 col-xl-1">
                            <img src="./assets/images/user.png" alt="" width="45" height="45" *ngIf="item.type === 0">
                            <img src="./assets/images/info.png" alt="" width="45" height="45" *ngIf="item.type !== 0">
                        </div>
                        <div class="col-12 col-md-12 col-xl-11">
                            <h3 class="mb-1">{{item.title}}</h3>
                            <p>
                                {{item.content}}
                            </p>
    
                        </div>
    
                </div>
            </mat-card>
            <div class="col-xs-12 col-12">
                <pagination [totalItems]="pages-10" [(ngModel)]="currentPage" [itemsPerPage]="10" (pageChanged)="pageChanged($event)"
                previousText="قبلی" nextText="بعدی"
                ></pagination>
              </div>
        </div>
    </div>

 

