
<div class="_box">
        <div class="table-responsive-sm">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">وضعیت</th>
                        <th scope="col">تاریخ ثبت</th>
                        <th scope="col">اقدام</th>
                        <th scope="col">حذف</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of cartables; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.title}}</td>
                        <td>{{item.status}}</td>
                        <td>{{item.lastActionDate | jalali_date}}</td>
                        <td >
                            <i class="fa fa-chevron-square-down pointer text-success fs-16" (click)="open(item)"></i>
                        </td>
                        <td>
                            <i class="fa fa-trash pointer" (click)="remove(item)"></i>
                        </td>    
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" dir="ltr">
            <div class="col-xs-12 col-12">
              <pagination [totalItems]="cartables?.length" [itemsPerPage]='10' 
              previousText="قبلی" nextText="بعدی"></pagination>
            </div>
          </div>
</div>

