// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ims-primary: mat.define-palette(mat.$indigo-palette);
$ims-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ims-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ims-theme: mat.define-light-theme(
  (
    color: (
      primary: $ims-primary,
      accent: $ims-accent,
      warn: $ims-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ims-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/fonts/fonts.scss";
@import "./assets/styles/custom";
@import "~@ng-select/ng-select/themes/default.theme.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: IRANSans !important;
}

.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-family: IRANSans !important;
}
.mat-tab-label,
.mat-tab-link {
  font-family: IRANSans !important;
}
.mat-tab-group {
  font-family: IRANSans !important;
}
.mat-card {
  font-family: IRANSans !important;
}
.ng-select .ng-select-container {
  background-color: transparent !important;
  border: 0 !important;
}
.mat-stepper-vertical, .mat-stepper-horizontal {
  font-family: IRANSans !important;
}
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
  font-family: IRANSans !important;

}
.panel.card.panel-default {
  background: transparent !important;
  color: #000 !important;
  text-decoration: none !important;
  border: none !important;
}
.card-header {
  border-bottom: 0 !important;
  background-color: transparent !important;
  padding: 3px !important;
  font-size: 13px;
}

.mat-menu-item {
  text-align: right !important;
  font-family: IRANSans !important;
}
.mat-checkbox-inner-container{
  margin-left: 5px !important;
  margin-right: 0 !important;
}
.mat-checkbox {
  font-family: IRANSans !important;

}
.mat-expansion-panel-header {
  font-family: IRANSans !important;

}
.mat-expansion-panel-content {
  font-family: IRANSans !important;
}
.mat-badge-warn .mat-badge-content {
  background: #fdac41 !important;
  border: 1px solid #fff !important;
}
.mat-badge-content {
  font-family: IRANSans !important;
  font-weight: 400;

}
.mat-menu-panel {
  min-height: 0 !important;
}
.mat-menu-content:not(:empty) {
  padding: 0 !important;

}
.mat-menu-item {
  height: auto !important;
  min-height: 48px !important;
  padding: 5px 16px !important;
  line-height: 3 !important;
}
.dp-open{
  width: 100% !important;
  input{
      width: 100% !important;
  }
}
.mat-radio-button {
  font-family: IRANSans !important;
}
.mat-tooltip-trigger{
  font-family: IRANSans !important;
}
.mat-body, .mat-body-1, .mat-typography .mat-body, .mat-typography .mat-body-1, .mat-typography {
  font: 400 14px / 20px IRANSans !important;
  letter-spacing: normal;
}
.btn:focus-visible {
  box-shadow: unset !important;
}
.swal2-popup.swal2-modal.swal2-show{
background: #fbfbfb !important;
}

.mat-list-text{
  text-align: right !important;
  font-size: 13px !important;
}

