[data-theme="default"] {
    --main-content-darken-background-color: rgb(32, 38, 57);
    --main-content-lighten-background-color: rgb(63, 76, 119);
  }

  [data-theme="purlpe"] {
    --main-content-darken-background-color: rgb(98, 29, 84);
    --main-content-lighten-background-color: #85586F;
  }
  [data-theme="green"] {
    --main-content-darken-background-color: rgb(67, 83, 52);
    --main-content-lighten-background-color: #9EB384;
  }
  [data-theme="dark"] {
    --main-content-darken-background-color: rgb(35, 31, 32);
    --main-content-lighten-background-color: #625656;
  }
  
