@import "_themes";
body {
    margin: 0;
    padding: 0;
    font-size: 12px !important;
    direction: rtl;
    font-family: IRANSans !important;
    color: #505050 !important;
}
._border {
    border: 1px solid #ccc;
}
._radus {
    border-radius: 3px;
}

input {
    border: 0;
    background: transparent;
    font-size: 13px;
    width: 100%;
    padding: 0 5px;
}
.app_img {
    margin: 0.1em 0.2em;
}
input::placeholder {
    font-size: 13px !important;
}
input:focus {
    outline: 0;
}
textarea:focus {
    outline: 0;
    background: transparent;
}

.height_100vh {
    height: 100vh;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}

.app_input {
    border: 1px solid #ccc;
    padding: 0.7em 0.5em;
    color: #515151;
    border-radius: 0.3em;
    margin: 0 0 1.5em 0;
    display: flex;
    align-items: center;
    background: #fcfcfc;

    i {
        font-size: 18px;
        padding: 5px;
    }
}
.app_input.isInvalid {
    border: 1px solid #be0000 !important;
}
.app_btn {
    border: 1px solid #5a8dee;
    background: #5a8dee;
    color: #ffff;
    border-radius: 0.3em;
    padding: 0.6em 0;
    width: 100%;
    margin: 0.8em 0;
}

.app_icon {
    font-size: 35px;
}

$i: 5;
@while $i <= 100 {
    .fs-#{$i} {
        font-size: #{$i}px !important;
    }

    $i: $i + 1;
}
$i: 5;
@while $i <= 100 {
    .ml-#{$i} {
        margin-left: #{$i}px !important;
    }

    $i: $i + 1;
}
$i: 5;
@while $i <= 100 {
    .mr-#{$i} {
        margin-right: #{$i}px !important;
    }

    $i: $i + 1;
}
$i: 5;
@while $i <= 500 {
    .h--#{$i} {
        height: #{$i}px !important;
    }

    $i: $i + 1;
}
$i: 5;
@while $i <= 500 {
    .w--#{$i} {
        width: #{$i}px !important;
    }

    $i: $i + 1;
}

$i: 5;
@while $i <= 500 {
    .pr--#{$i} {
        padding-right: #{$i}px !important;
    }

    $i: $i + 1;
}

$i: 5;
@while $i <= 500 {
    .pl--#{$i} {
        padding-left: #{$i}px !important;
    }

    $i: $i + 1;
}
._appbox {
    background: #f1f1f1;
    border: 1px solid #eee;
}
.mat-h1,
.mat-subheading-2,
.mat-typography .mat-h1,
.mat-typography .mat-subheading-2,
.mat-typography h1 {
    font-family: IRANSans !important;
}

.mat-h3,
.mat-subheading-2,
.mat-typography .mat-h3,
.mat-typography .mat-subheading-2,
.mat-typography h3 {
    font-family: IRANSans !important;
}
.mat-h2,
.mat-subheading-2,
.mat-typography .mat-h2,
.mat-typography .mat-subheading-2,
.mat-typography h2 {
    font-family: IRANSans !important;
}
.mat-h4,
.mat-subheading-2,
.mat-typography .mat-h4,
.mat-typography .mat-subheading-2,
.mat-typography h4 {
    font-family: IRANSans !important;
}

#acountcontianer {
    background: #f4f4f4;
    .box {
        border-radius: 6px;
        border: 1px solid #ccc;
    }
}
.pointer {
    cursor: pointer;
}
.fw-bold {
    font-weight: 700;
}
#wrapper {
    background: linear-gradient(
        112.1deg,
        var(--main-content-darken-background-color) 11.4%,
        var(--main-content-lighten-background-color) 70.2%
    );
    min-height: 100vh;

    .navbar {
        background: #ffffff30;
        padding: 1em 0;
    }
    .nav_btn {
        width: 40px;
        height: 40px;
        border: 1px solid #e6e6e6;
        background: #ffffff29;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e6e6e6;
        font-size: 18px;
        margin: 0.1em 0;
    }
    .nav_img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }
    ._box {
        border: 1px solid #e6e6e6;
        background: #fff;
        min-height: 15vh;
        padding: 1em 0.8em;
        border-radius: 6px;
        margin-bottom: 1em;
        user-select: none;

        .card-header {
            border-bottom: 0 !important ;
            background-color: transparent !important;
            padding: 3px !important;
            font-size: 13px;
        }
        .panel.card.panel-default {
            background: transparent !important;
            color: #000 !important;
            text-decoration: none !important;
            border: none !important;
        }
        .panel-heading button {
            text-decoration: none !important;
            color: #d8d8d8;
            font-size: 12px;
        }

        textarea {
            height: 100px;
            width: 100%;
            background: transparent;
            border-radius: 3px;
            padding: 0 0.3em;
        }
        .upload_btn {
            width: 100%;
            border: 1px dashed #929292;
            color: #989898;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 45px;
            font-size: 18px;
        }
        label {
            padding: 0 3px 0 0;
        }
        .submit_btn {
            width: 100%;
            border: 0;
            border-radius: 3px;
            height: 30px;
            background: #5a8dee;
            color: #eee;
        }
        ._header {
            span {
                margin-right: 5px;
                color: #eee;
            }
        }
        ._body {
            ._tools {
                div {
                    margin-left: 10px;
                    font-size: 10px;
                }
            }
            video {
                height: 200px;
            }
        }
        ._settingbox {
            border-radius: 6px;
            padding: 4em 1em;
            margin-bottom: 1em;
        }
    }
}
.border_bottom {
    border-bottom: 1px solid #eee;
}
.border_bottom:last-child {
    border-bottom: 0;
}
.table thead tr th {
    background: #5a8dee;
    color: #eee;
    border-left: 1px solid #eee;
}
.active > .page-link {
    background-color: #5a8dee !important;
    border: 1px solid #5a8dee !important;
}
.page-item:last-child .page-link,
.page-item:first-child .page-link {
    font-size: 12px !important;
}
#formsbox {
    background: #f7f7f7;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0.5em 0;
}
#formsbox .app_input {
    height: 35px;
    padding: 0;
}
.table-responsive-sm {
    overflow: auto;
}
.bg_gray {
    background: #f0f0f0;
}
.border_b_gray {
    border-bottom: 1px solid #eee;
}

.round {
    border-radius: 50%;
}
.ng-placeholder {
    padding: 5px 10px !important;
}

.panel-body.card-block.card-body {
    padding: 8px !important;
}

.joindialog {
    width: 75%;
    height: 165px;
    background: #fff;
    border-radius: 6px;
    box-shadow:
        0px 11px 15px -7px rgba(0, 0, 0, 0.2),
        0px 24px 38px 3px rgba(0, 0, 0, 0.14),
        0px 9px 46px 8px rgba(0, 0, 0, 0.12);
    transition: 0.5s all;
    text-align: center;
}
.dialog {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000b5;
    width: 100%;
    height: 100%;
}
