
<div class="" *ngIf="profileLanguages != undefined">
    <h3 class="border-bottom">{{title}}</h3>

    <div class="row">
        <div class="col-12 text-danger text-center mt-2 mb-2 " *ngIf="profileLanguages.length <= 0">
            رکوردی ثبت نشده است!
        </div>
        <div class="col-12" *ngIf="profileLanguages.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ردیف</th>
                        <th scope="col">عنوان</th>
                        <th scope="col">سطح</th>
                        <!-- <th scope="col">محل</th> -->
                        <!-- <th scope="col">تاریخ شروع</th>
                        <th scope="col">تاریخ پایان</th> -->
                        <th>ویرایش</th>
                        <th>حذف</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of profileLanguages; let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{item.title}}</td>
                        <td>{{item.languageLevel}}</td>
                        <td (click)="edit(item)"><i class="fa fa-edit pointer"></i></td>
                        <td (click)="remove(item.id)"><i class="fa fa-trash pointer"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12">
            <form [formGroup]="appform" (submit)="submit()">
                <div class="container">
                    <div class="row align-items-center _border _radus p-1">
                        <div class="col-12 col-md-12 col-xl-6">
                            <label for="" class="text-dark">عنوان</label>
                            <div class="app_input" [ngClass]="{'isInvalid':validateClass('title') && submited}">
                                <input type="text" [formControlName]="'title'">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-6">
                            <label for="" class="text-dark">سطح</label>
                            <div class="app_input" [ngClass]="{'isInvalid':validateClass('languageLevel') && submited}">
                                <input type="number" [formControlName]="'languageLevel'">
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-xl-12">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <button type="submit" class="btn btn-success w-100 fs-12 w-100">ثبت</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

