
<div class="container mb-2 p-0" *ngIf="(item.type === 'NumberField' && !item.isOpen) || closeMode">
  <div class="row" [ngClass]="hidden ? 'border_b_gray' : ''">
    <div class="d-flex">
      <strong class="fs-14 fw-bold mb-2" [innerText]="appform.controls['title'].value">
      </strong>
      <i class="fa fa-star-of-life text-danger fs-8" *ngIf="item?.configuration?.required && !hidden"></i>
    </div>
    <div class="col-12 col-md-12">
      <div class="" [ngClass]="(!closeMode|| closeMode) && !hidden ? 'app_input m-0' : ''">
        <input type="number" [value]="appform.controls['value'].value"
        (input)="changetext($event.target , item);" [readOnly]="hidden">
      </div>
      <span class="text-danger" *ngIf="closeMode && !hidden && !item?.isvalid && item.isvalid != undefined && !valid">
        عدد باید بین{{item.configuration.min + '-' + item.configuration.max }} باشد
      </span>
    </div>
  </div>
</div>

<section *ngIf="(item.type === 'NumberField') && item.isOpen && !closeMode" id="formsbox" class="w-100" >
    <form [formGroup]="appform">
  <div class="row w-100">
    <div class="col-12 col-md-12">
      <mat-checkbox [formControlName]="'required'">
        ضروری
      </mat-checkbox>
    </div>
    <div class="col-12 col-md-6">
      <label for="" class="text-dark fs-12">عنوان</label>
      <div class="app_input" [ngClass]="{'isInvalid':validateClass('title') && submitted}">
          <input type="text" [formControlName]="'title'">
      </div>
    </div>
    <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">متن راهنما</label>
        <div class="app_input">
            <input type="text" [formControlName]="'helpText'">
        </div>
      </div>
      <div class="col-12 col-md-12">
        <mat-checkbox  (change)="toggle($event)" [(ngModel)]="restrictedAccess.flag"
        [ngModelOptions]="{standalone: true}"
        >
          محدودیت دسترسی برای یک یا چند نقش از
          لیست زیر:
        </mat-checkbox>
        <div class *ngIf="_restrictedAccess">
          <div class *ngFor="let item of restrictedAccess.accessTo">
            <mat-checkbox [(ngModel)]="item.checked"
            [ngModelOptions]="{standalone: true}">
            {{item.title}}
            </mat-checkbox>
          </div>
        </div>
      </div>
    <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">مقدار</label>
        <div class="app_input">
            <input type="number" [formControlName]="'value'" (change)="valueChange($event.target)">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">بیشترین</label>
        <div class="app_input" [ngClass]="{'isInvalid':validateClass('max') && submitted}">
            <input type="number" [formControlName]="'max'" (input)="rangeValue($event.target)">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">کمترین</label>
        <div class="app_input" [ngClass]="{'isInvalid':validateClass('min') && submitted}">
            <input type="number" [formControlName]="'min'" (input)="rangeValue($event.target)">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">step</label>
        <div class="app_input">
            <input type="number" [formControlName]="'step'">
        </div>
      </div>
    <div class="col-12">
      <div class="col-12 col-md-6">
        <div class="row">      
          <div class="col-12 col-md-12">
            <button type="button" class="btn btn-primary ml-5 fs-11 w-100" (click)="submit(item)">ذخیره</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </form>
</section>