<div class="container-fluid" id="acountcontianer" (window:resize)="onResize($event)">
    <div class="container height_100vh">
        <div class="row h-100 align-items-center justify-content-center ">
            <div class="col-12 col-md-12 col-lg-8 text-center bg-white p-3 box">
                <div class="row align-items-center">
                    <div class="col-12 col-md-12 col-lg-6">
                        <h2>سامانه مدیریت یکپارچه دانشی
                        </h2>
                        <form [formGroup]="appform" (submit)="submit()">
                            <div class="row">
                                <div class="col-12">
                                    <div class="app_input">
                                        <i class="fa fa-user"></i>
                                        <input type="text" class=" w-100" placeholder="نام کاربری"
                                            [formControlName]="'username'">
                                    </div>
                                    <div class="app_input">
                                        <i class="fa fa-lock"></i>
                                        <input [type]="type" class=" w-100" placeholder="کلمه عبور"
                                            [formControlName]="'password'">
                                            <i class="far fs-12" style="cursor: pointer;" (click)="showpass()"
                                            [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"></i>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <!-- <div class="col-6">
                                        <div class="text-right">
                                            <input type="checkbox">
                                            مرا به خاطر بسپار
                                        </div>
                                    </div> -->
                                    <div class="col-12">
                                        <div class="text-right pointer" [routerLink]="'forgetpassword'">
                                            کلمه عبور را فرموش کرده اید ؟
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button class="app_btn">ورود</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 col-lg-6 " >
                        <img src="./assets/images/login/login.svg" alt="" class="mb-3 w-100" height="300" *ngIf="loginimage">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>