<div class="card bg-white position-relative chat-box" style="height: 500px;overflow: hidden;"
    [ngClass]="window >= 425 ? 'w--350' : 'w--280'">
    <div class="row m-0 w-100" *ngIf="main.header">

        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center mt-2">
                <div class="d-flex align-items-center pointer" [routerLink]="'profile'">
                    <img [src]="user.picture != '' ? 'http://188.121.109.156:5036/uploadTemp/' + user.picture : './assets/images/user.png'"
                        alt="" width="40" height="40" class="profile ml-10">
                    <span class="d-flex flex-column" style="line-height: 1.3;">
                        <span class="fs-12 fw-bold">{{user.firstname + ' ' + user.lastname}}</span>
                        <span class="fs-9">{{user.username}}</span>
                    </span>
                </div>
                <i class="fa fa-times p-2 close pointer" (click)="close(0)"></i>
            </div>
        </div>

    </div>
    <div class="" *ngIf="main.main" [ngClass]="!main.main ? 'bg_gray' : ''">

        <div class="row m-0 w-100 mb-3 mt-2" *ngIf="main.title">
            <div class="col-12">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="fs-16 fw-bold">{{title}}</span>
                    <span class="fs-10 pointer" *ngIf="showAll" (click)="_showAll('همه اتاق ها')">نمایش همه</span>
                </div>
            </div>
        </div>

        <div class="row m-0 w-100" *ngIf="main.search">
            <app-chat-search (SEARCH_VALUE)="SEARCH_VALUE($event , 0)"></app-chat-search>
        </div>
        <div class="p-2" *ngIf="main.addroombtn">
            <button class="btn btn-success fs-11 fw-bold " (click)="addRoom(popup)">
                <i class="fa fa-plus"></i>
                ایجاد اتاق جدید
            </button>
        </div>

        <div class="rooms" *ngIf="main.content" [ngClass]="main.addroombtn ? 'h--270' : 'h--325'">
            <div class="text-center text-danger fs-11 mt-2" *ngIf="rooms.length <=0">رکوردی یافت نشد...</div>
            <div class="row w-100 m-0">
                <div class="col-12">
                    <div class="d-flex align-items-center justify-content-between border_b_gray p-2 "
                        *ngFor="let item of rooms">
                        <div class="roomItem pointer d-flex" (click)="chat(item , popup)">
                            <span *ngIf="item.imagePath == ''"
                                class="d-flex align-items-center justify-content-center h--35 fs-14 fw-bold"
                                style="width: 35px;border-radius: 50%;background: #3E54AC;color: #fff;">{{item.name.slice(0,1).toUpperCase()}}</span>
                            <img *ngIf="item.imagePath != ''"
                                [src]="'http://188.121.109.156:5036/uploadTemp/' + item.imagePath" alt="" width="35"
                                height="35" class="round">
                            <div class="d-flex flex-column mr-5">
                                <span class="fs-13 fw-bold">{{item.name}}</span>
                                <span class="fs-11">موضوع : {{item.subject != '' ? item.subject : '-'}}</span>
                            </div>
                        </div>
                        <div>
                            <i class="fa fa-trash text-danger fs-14 pointer" (click)="_deleteroom(item)"></i>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row w-100 m-0 _footer" *ngIf="main.footer">
            <div class="col-12">
                <div class="footer d-flex justify-content-between align-items-center position-absolute w-100 foo">
                    <div class="d-flex justify-content-between align-items-center w-100 p-2 ">
                        <button class="bg-transparent border-0 p-0" [matMenuTriggerFor]="aboveMenu">
                            <img src="./assets/images/edit.png" alt="" width="21" height="21"
                                class="edit pointer"></button>
                        <mat-menu #aboveMenu="matMenu" yPosition="above">
                            <button mat-menu-item (click)="openpublicRooms(publicRooms)">
                                <span class="fs-12">
                                    لیست اتاق های عمومی
                                </span>
                                <i class="fa fa-list"></i>
                            </button>
                        </mat-menu>
                        <img src="./assets/images/menu.png" alt="" width="23" height="23" class="menu pointer"
                            (click)="openspacePopup(popup)">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="create_space p-2" *ngIf="!main.main && space.main" style="margin: 1.2em 1em;">
        <div class="" *ngIf="space.state">
            <p class="fw-bold mb-1 fs-12">می خواهید چه نوع فضایی ایجاد کنید؟</p>
            <p class="fs-10">
                می توانید بعدا این را تغییر دهید
            </p>
            <div class="mt-5">
                <button class="options_btn" (click)="State(false)">
                    <i class="fas fa-globe-americas"></i>
                    عمومی
                    <p>آزاد برای همه</p>
                </button>
                <button class="options_btn mt-1" (click)="State(true)">
                    <i class="fas fa-lock"></i>
                    خصوصی
                    <p>فقط با دعوت</p>
                </button>
            </div>

        </div>

        <div class="">
            <div class="" *ngIf="space.spaceform">
                <form [formGroup]="spaceFormGroup">
                    <p class="mb-2 fw-bold fs-11">توضیحاتی را برای کمک به افراد در شناسایی آن اضافه کنید.</p>
                    <div class="mb-2 text-center pointer">
                        <input type="file" #input (change)="select($event.target , 'space')" hidden>
                        <img [src]="imgUrl != '' ? imgUrl : './assets/images/picture.png' " alt="" (click)="open(input)"
                            width="75" height="75">
                    </div>
                    <label for="" class="text-dark fs-12">نام</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('name') && submitted}">
                        <input type="text" [formControlName]="'name'">
                    </div>
                    <label for="" class="text-dark fs-12">توضیحات</label>
                    <textarea class="app_input w-100 h--100" type="text" [formControlName]="'description'"></textarea>
                    <button type="button" class="app_btn fs-12" (click)="submitSpace(state)"
                        [disabled]="disabled">بعدی</button>
                </form>
            </div>
            <div class="" *ngIf="space.isprivate">
                <p class="fw-bold mb-1 fs-12">با چه کسانی کار می کنید؟</p>
                <div class="mt-5">
                    <button class="options_btn" (click)="member(0)">
                        <i class="fas fa-user"></i>
                        <span class="fw-bold">
                            فقط من
                        </span>
                        <p>یک فضای خصوصی برای نظم بخشی</p>
                    </button>
                    <button class="options_btn mt-1" (click)="member(1)">
                        <i class="fas fa-user-friends"></i>
                        <span class="fw-bold">
                            من و هم گروهی هایم
                        </span>
                        <p>فضایی خصوصی برای شما و هم گروهی هایتان</p>
                    </button>
                    <button class="options_btn mt-1" (click)="member(2)">
                        <i class="fas fa-users"></i>
                        <span class="fw-bold">
                            عمومی
                        </span>
                        <p>فضایی عمومی برای تمام افراد</p>
                    </button>
                </div>

            </div>

            <div class="" *ngIf="space.memeberlist">
                <p class="fw-bold mb-1 fs-12 mb-3">با چه کسانی کار می کنید؟</p>

                <ng-select class=" w-100  p-0  app_input" [items]="users" [multiple]="true" [closeOnSelect]="false"
                    [searchable]="true" bindLabel="userName" bindValue="id" placeholder="انتخاب کنید..."
                    (change)="selectedUsers($event)">
                </ng-select>
                <button type="button" class="app_btn fs-12" (click)="jointoroomusers()">ذخیره</button>
            </div>

            <div class="" *ngIf="space.roomform">
                <form [formGroup]="roomFormGroup">

                    <div class="mb-2 text-center pointer">
                        <input type="file" #input (change)="select($event.target , 'room')" hidden>
                        <img [src]="imgUrl != '' ? imgUrl : './assets/images/picture.png' " alt="" (click)="open(input)"
                            width="75" height="75">
                    </div>
                    <label for="" class="text-dark fs-12">نام اتاق</label>
                    <div class="app_input" [ngClass]="{'isInvalid':validateClass('name') && submitted}">
                        <input type="text" [formControlName]="'name'">
                    </div>
                    <label for="" class="text-dark fs-12" *ngIf="state">توضیحات</label>
                    <textarea class="app_input w-100" type="text" *ngIf="state"
                        [formControlName]="'description'"></textarea>
                    <button type="button" class="app_btn fs-12" (click)="submitRoom(popup)"
                        [disabled]="disabled">ذخیره</button>
                </form>
            </div>
        </div>

    </div>


    <!-- chat--room -->
    <app-chatroom *ngIf="!main.main && chatroom.room && !space.main" [room]="room" [messages]="messages"
        (CLOSE)="close($event)"></app-chatroom>
    <!-- chat--room -->

    <!-- publicrooms-popup -->
    <div class="publicRooms position-absolute w-100" #publicRooms>
        <div class="popup position-relative p-2">
            <div class="d-flex justify-content-between">
                <span class="fw-bold">اتاق های عمومی</span>
                <span class="pointer fs-12" (click)="cancelPopup(publicRooms)">انصراف</span>
            </div>
            <div class="row mt-3 mb-3 w-100 m-0">
                <app-chat-search class="p-0" (SEARCH_VALUE)="SEARCH_VALUE($event ,1)"></app-chat-search>
            </div>
            <div class="d-flex align-items-center justify-content-center h-100 text-danger fs-12"
                *ngIf="allpublics.length <= 0">
                رکوردی موجود نیست...
            </div>
            <div class="list mt-2">
                <div class="d-flex mb-2 align-items-center" *ngFor="let item of allpublics">
                    <span *ngIf="item.imagePath == ''"
                        class="d-flex align-items-center justify-content-center h--30 fs-11 fw-bold"
                        style="width: 30px;border-radius: 50%;background: #B08BBB;color: #fff;">{{item.name.slice(0,1).toUpperCase()}}</span>
                    <img *ngIf="item.imagePath != ''" [src]="item.imagePath" alt="" width="30" height="30">
                    <div class="d-flex flex-column mr-5 pointer"
                        (click)="openModal(item);publicroomdialog.isVissible = true">
                        <span class="fw-bold fs-12">{{item.name}}</span>
                        <p class="m-0 fs-10">{{item.description}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- publicrooms-popup -->

    <!-- space-popup -->
    <div class="spaces position-absolute w-100" #popup>
        <div class="popup  p-2 ">
            <div class="d-flex justify-content-between">
                <span class="pointer fs-12" (click)="addSpace(popup)">
                    <i class="fa fa-plus fs-11"></i>
                    ایجاد
                </span>
                <span class="fw-bold">فضاهای من</span>
                <span class="pointer fs-12" (click)="cancelPopup(popup)">انصراف</span>
            </div>
            <div class="d-flex align-items-center justify-content-center h-100 text-danger fs-12"
                *ngIf="spaces.length <= 0">
                رکوردی موجود نیست...
            </div>
            <div class="list mt-2">
                <div class="d-flex mb-2 align-items-center" *ngFor="let item of spaces">
                    <span *ngIf="item.imagePath == ''"
                        class="d-flex align-items-center justify-content-center h--30 fs-11 fw-bold"
                        style="width: 30px;border-radius: 50%;background: #B08BBB;color: #fff;">{{item.name.slice(0,1).toUpperCase()}}</span>
                    <img *ngIf="item.imagePath != ''" [src]="'http://188.121.109.156:5036/uploadTemp/' +item.imagePath"
                        alt="" width="30" height="30">
                    <div class="d-flex flex-column mr-5 pointer" (click)="getspaceRooms(item , popup)">
                        <span class="fw-bold fs-12">{{item.name}}</span>
                        <p class="m-0 fs-10">تعداد اعضا : {{item.joinableMembers}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- space-popup -->


    <!-- join-popup -->
    <div *ngIf="publicroomdialog.isVissible" class="position-absolute d-flex dialog w-100" #template>
        <div class="joindialog m-auto p-3" [@dialog]="publicroomdialog.isVissible ? 'vissible' : 'hidden'">
            <span *ngIf="publicroom.imagePath == ''"
                class="d-flex align-items-center justify-content-center h--40 fs-18 fw-bold m-auto"
                style="width: 40px;border-radius: 50%;background: #B08BBB;color: #fff;">{{publicroom.name.slice(0,1).toUpperCase()}}</span>
            <img *ngIf="publicroom.imagePath != ''" [src]="publicroom.imagePath" alt="" width="30" height="30">
            <p class="fw-bold fs-13 mt-1 m-0">
                {{publicroom.name.length > 25 ? publicroom.name.slice(0,25) + '...' : publicroom.name }}
            </p>
            <p class="fs-11 m-0">
                {{publicroom.description != "" ? publicroom.description.length >25 ? publicroom.description.slice(0,25)
                + '...' : publicroom.description : '-'}}
            </p>
            <p class="fs-14 m-0">
                <i class="fa fa-user-circle mr-5 ml-5"></i>
                <span>{{members.length}}</span>
            </p>
            <div class="row">
                <div class="col-6">
                    <button mat-stroked-button class="fs-12 w-100 h-100"
                        (click)="publicroomdialog.isVissible = false">انصراف</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-success fs-12 w-100 h-100"
                        (click)="join(publicroom , publicRooms)">پیوستن</button>
                </div>
            </div>
        </div>
    </div>
    <!-- join-popup -->
</div>