.card {
    .close {
        width: 20px;
        height: 20px;
        background: #f7f7f7;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px;
        border-radius: 3px;
        font-size: 10px;
        color: #ccc;
    }
    .profile {
        margin: 3px;
        border-radius: 50%;
    }
    .footer {
        bottom: 0;
        left: 0;
    }

    .spaces {
        bottom: -200px;
        background: #fff;
        transition: 0.3s all;
        .popup {
            border-top: 1px solid #aaaaaa;
            border-right: 1px solid #aaaaaa;
            border-left: 1px solid #aaaaaa;
            border-radius: 10px 10px 0 0;
            height: 185px;
            background: #f6f6f6;
        }
        .list {
            height: 150px;
            overflow: auto;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .list::-webkit-scrollbar {
            display: none;
        }
    }
    .spaces.show {
        bottom: 0;
        left: 0;
        transition: 0.3s all;
    }

    .options_btn {
      
    border: 1px solid #efefef;
    background: #f6f6f6;

        color: #808080;
        width: 100%;
        margin-bottom: 0.5em;
        border-radius: 6px;
        padding: 0.5em 0;
        p {
            margin: 0;
            font-size: 11px;
        }
    }

    .header {
        img {
            width: 30px !important;
            height: 30px;
        }
    }
    .rooms {
        overflow: auto;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
    .rooms::-webkit-scrollbar {
        display: none;
    }
    .foo {
        background: #ededed;
        border-top: 1px solid #ccc;
    }

    .publicRooms {
        bottom: -460px;
        background: #fff;
        transition: 0.3s all;
        .popup {
            border-top: 1px solid #aaaaaa;
            border-right: 1px solid #aaaaaa;
            border-left: 1px solid #aaaaaa;
            border-radius: 10px 10px 0 0;
            height: 450px;
            background: #cecece1a;
        }
        .list {
            height: 350px;
            overflow: auto;
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }
        .list::-webkit-scrollbar {
            display: none;
        }
    }
    .publicRooms.show {
        bottom: 0;
        left: 0;
        transition: 0.3s all;
    }
}


