
<div class="container" *ngIf="(item.type === 'TitleField' && !item.isOpen) || closeMode">
  <div class="row" [ngClass]="hidden ? 'border_b_gray' : ''">
    <h1  [ngStyle]="{'font-size': titlevalue?.size != undefined ? titlevalue?.size : '1.2rem' }"
    [innerText]="appform.controls['title'].value">
    </h1>
  </div>
</div>
<section *ngIf="(item.type === 'TitleField') && item.isOpen && !closeMode" id="formsbox" class="w-100" >
    <form [formGroup]="appform">
  <div class="row w-100">
    <div class="col-12 col-md-12">
      <label for="" class="text-dark fs-12">عنوان</label>
      <div class="app_input">
          <input type="text" [formControlName]="'title'">
      </div>
    </div>
    <div class="col-12 col-md-12">
      <label for="" class="text-dark fs-12">نوع</label>
      <select class="app_input w-100" [formControlName]="'type'" (input)="typechage($event , titles)">
        <option *ngFor="let option of titles" [value]="option.id">
          {{option.name}}
       </option>
    </select>
    </div>
    <div class="col-12 col-md-12">
      <mat-checkbox  (change)="toggle($event)" [(ngModel)]="restrictedAccess.flag"
      [ngModelOptions]="{standalone: true}"
      >
        محدودیت دسترسی برای یک یا چند نقش از
        لیست زیر:
      </mat-checkbox>
      <div class *ngIf="_restrictedAccess">
        <div class *ngFor="let item of restrictedAccess.accessTo">

          <mat-checkbox [(ngModel)]="item.checked"
          [ngModelOptions]="{standalone: true}">
          {{item.title}}
          </mat-checkbox>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="col-12 col-md-12">
        <div class="row">      
          <div class="col-12 col-md-12">
            <button type="button" class="btn btn-primary ml-5 fs-11 w-100" (click)="submit(item)">ذخیره</button>
          </div>
        </div>
      </div>
    </div>
  </div>
 </form>
</section>