
<div class="container" *ngIf="(item.type === 'FormField' && !item.isOpen) || closeMode">
  <div class="row" [ngClass]="hidden ? 'border_b_gray' : ''">
      <strong class="fs-14 fw-bold mb-2" [innerText]="appform.controls['title'].value">
      </strong>
    <div class="col-12 col-md-12">
      <div class=""  [ngClass]="(!closeMode|| closeMode) && !hidden ? 'app_input' : ''">
        <input type="text" [value]="appform.controls['value'].value" [(ngModel)]="appform.controls['value'].value" 
        [readOnly]="hidden"
        [ngModelOptions]="{standalone: true}" (input)="changetext($event.target , item)">
      </div>
    </div>
  </div>
</div>


<section *ngIf="(item.type === 'FormField') && item.isOpen && !closeMode" id="formsbox" class="w-100" >
    <form [formGroup]="appform">
  <div class="row w-100">
    <div class="col-12 col-md-6">
      <label for="" class="text-dark fs-12">عنوان</label>
      <div class="app_input">
          <input type="text" [formControlName]="'title'">
      </div>
    </div>
    <div class="col-12 col-md-6">
        <label for class="text-dark fs-12">متن راهنما</label>
        <div class="app_input">
          <input type="text" [formControlName]="'helpText'">
        </div>
      </div>
      <div class="col-12 col-md-12">
        <mat-checkbox  (change)="toggle($event)" [(ngModel)]="restrictedAccess.flag"
        [ngModelOptions]="{standalone: true}"
        >
          محدودیت دسترسی برای یک یا چند نقش از
          لیست زیر:
        </mat-checkbox>
        <div class *ngIf="_restrictedAccess">
          <div class *ngFor="let item of restrictedAccess.accessTo">
  
            <mat-checkbox [(ngModel)]="item.checked"
            [ngModelOptions]="{standalone: true}">
            {{item.title}}
            </mat-checkbox>
          </div>
        </div>
      </div>
    <div class="col-12 col-md-6">
        <label for="" class="text-dark fs-12">مقدار</label>
        <div class="app_input">
            <input type="text" [formControlName]="'value'">
        </div>
      </div>
    <div class="col-12">
      <div class="col-12 col-md-12">
        <div class="row">      
          <div class="col-12 col-md-12">
            <button type="button" class="btn btn-primary ml-5 fs-11 w-100" (click)="submit(item)">ذخیره</button>
          </div>

        </div>
      </div>
    </div>
  </div>
 </form>
</section>